Repository radicle-dev/radicle-upstream: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Wording
  ui/Modal/Org/ConfigureEns/LinkOrgToName.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Show fee in validation
  ui/Modal/Org/ConfigureEns/RegisterName.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Hide fractions
  ui/src/org/ensRegistrar.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Simplify flows by converting modals into notifications
  ui/Modal/Org/ConfigureEns/LinkOrgToName.svelte
  ui/Modal/Org/ConfigureEns/UpdateMetadata.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: type Avatar props consistently
  ui/DesignSystem/Avatar.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore: targed ES2020
  cypress/tsconfig.json
  tsconfig.json
Due: prettier --write

chore: use "org" consistently
  ui/Screen/Org/MembersMenu.svelte
  ui/Screen/Org/Projects.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Don't use <strong> tag
  public/typography.css
  ui/Modal/Org/ConfigureEns/ConfirmRegistration.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

dev: add test wallet for dev and testing
  ETHEREUM.md
  native/index.ts
  ui/src/config.ts
  ui/src/ethereum/walletConnect.ts
  ui/src/wallet.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Update ui/src/org/ensRegistrar.ts
  ui/src/org/ensRegistrar.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: fix regression from Modal update
  cypress/integration/project/creation.spec.ts
  ui/Modal/NewProject.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Simplify flow
  ui/Modal/Org/ConfigureEns/BlockTimer.svelte
  ui/Modal/Org/ConfigureEns/ConfirmRegistration.svelte
  ui/Modal/Org/ConfigureEns/RegisterName.svelte
  ui/src/org/ensRegistrar.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

re-use previous commitment
  ui/Modal/Org/ConfigureEns/BlockTimer.svelte
  ui/Modal/Org/ConfigureEns/ConfirmRegistration.svelte
  ui/Modal/Org/ConfigureEns/RegisterName.svelte
  ui/src/org/ensRegistrar.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

re-use previous commitment (#2269)
  ui/Modal/Org/ConfigureEns/BlockTimer.svelte
  ui/Modal/Org/ConfigureEns/ConfirmRegistration.svelte
  ui/Modal/Org/ConfigureEns/RegisterName.svelte
  ui/src/org/ensRegistrar.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Make commitment step resumable (#2260)
  ui/Modal/Org/ConfigureEns/BlockTimer.svelte
  ui/Modal/Org/ConfigureEns/ConfirmRegistration.svelte
  ui/Modal/Org/ConfigureEns/RegisterName.svelte
  ui/src/org/ensRegistrar.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Consolidate confirmation steps
  ui/Modal/Org/ConfigureEns/BlockTimer.svelte
  ui/Modal/Org/ConfigureEns/ConfirmRegistration.svelte
  ui/Modal/Org/ConfigureEns/UpdateMetadata.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Fixup
  ui/Modal/Org/ConfigureEns/UpdateMetadata.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Add missing seedId and seedApi fields to metadata modal
  ui/Modal/Org/ConfigureEns/UpdateMetadata.svelte
  ui/src/org/ensResolver.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Add seed id and seed api to org header
  ui/Screen/Org/OrgHeader.svelte
  ui/src/style.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

feat: implement signMessage for test wallet
  ui/src/ethereum/walletConnect.ts
  ui/src/ethereum/walletConnectSigner.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore: update gnosis safe sdk
  package.json
  ui/src/org/safe.ts
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore: update radicle-link
  Cargo.lock
  proxy/api/Cargo.toml
  proxy/api/src/bin/git-remote-rad.rs
  proxy/api/src/browser.rs
  proxy/api/src/context.rs
  proxy/api/src/control.rs
  proxy/api/src/http.rs
  proxy/api/src/identifier.rs
  proxy/api/src/identity.rs
  proxy/api/src/keystore.rs
  proxy/api/src/patch.rs
  proxy/api/src/process.rs
  proxy/api/src/project.rs
  proxy/api/src/service.rs
Due: none

Change icon
  ui/Screen/Org/OrgHeader.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: decouple wallet connect from qr modal
  ui/Screen/Wallet.svelte
  ui/src/ethereum/walletConnect.ts
  ui/src/wallet.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

feat: add tests for ethereum attestation
  cypress/integration/attestation.spec.ts
  cypress/plugins/ethereumDevNode/api.ts
  cypress/plugins/ethereumDevNode/index.ts
  cypress/plugins/index.ts
  cypress/support/commands.ts
  cypress/support/index.ts
  cypress/support/nodeManager.ts
  cypress/support/plugin.ts
  scripts/ethereum-dev-node.ts
  tsconfig.json
  ui/DesignSystem/Wallet/Connect.svelte
  ui/DesignSystem/Wallet/Panel.svelte
  ui/Screen/Wallet/Transactions.svelte
  ui/src/attestation/contract.ts
  ui/src/ethereum/index.ts
  ui/src/ethereum/walletConnect.ts
  ui/src/ethereum/walletConnectSigner.ts
  ui/src/funding/contract.ts
  ui/src/org.ts
  ui/src/wallet.ts
  ui/src/wallet/daiToken.ts
  ui/src/wallet/radToken.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Show update notification only if ENS records change
  ui/Modal/Org/ConfigureEns/UpdateMetadata.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: display token balance properly
  ui/DesignSystem/Wallet/Panel.svelte
  ui/src/ethereum/index.test.ts
  ui/src/ethereum/index.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Align types
  ui/Modal/Org/ConfigureEns.svelte
  ui/Modal/Org/ConfigureEns/ConfirmRegistration.svelte
  ui/Modal/Org/ConfigureEns/RegisterName.svelte
  ui/Screen/Org/route.ts
  ui/src/org.ts
  ui/src/org/ensResolver.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

dev: Add commented out patch statement for link
  Cargo.toml
Due: none

chore: update radicle-link
  Cargo.lock
  Cargo.toml
  deny.toml
  proxy/api/Cargo.toml
  proxy/api/src/process.rs
Due: none

Implement caching properly
  ui/Modal/Org/ConfigureEns/LinkOrgToName.svelte
  ui/Modal/Org/ConfigureEns/UpdateMetadata.svelte
  ui/Screen/Org/route.ts
  ui/src/org.ts
  ui/src/org/ensResolver.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Update screens with new ENS metadata when it becomes available
  ui/Modal/Org/ConfigureEns/LinkOrgToName.svelte
  ui/Modal/Org/ConfigureEns/UpdateMetadata.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Fixup
  ui/Modal/Org/ConfigureEns/LinkOrgToName.svelte
  ui/Modal/Org/ConfigureEns/UpdateMetadata.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Extract function
  ui/Modal/Org/ConfigureEns/LinkOrgToName.svelte
  ui/Modal/Org/ConfigureEns/UpdateMetadata.svelte
  ui/src/org/configureEns.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Fixup
  ui/Screen/Org/route.ts
  ui/src/org.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

style: fix modal centering and margins
  ui/DesignSystem/Modal.svelte
  ui/DesignSystem/ModalOverlay.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: show passphrase button always visible
  ui/Screen/Lock.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: reduce The Graph API request amount
  ui/src/org.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore: use The Graph mainnet API endpoint
  ui/src/org/theGraphApi.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Path conditions:
  prettier --write: any of: *.{js,css,json,html,svelte}
  eslint --fix --max-warnings=0: any of: *.{js,ts,svelte}
  ./scripts/license-header.ts check: any of: *.{js,ts,svelte}
