Repository radicle-dev/radicle-upstream: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore: migrate to host/id based seed node records
  ui/App/OrgScreen/ConfigureEns/UpdateMetadata.svelte
  ui/App/OrgScreen/OrgHeader.svelte
  ui/src/org/ensResolver.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

try using CSSStyleSheet
  public/colors.css
  ui/App/SettingsScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix for search test
  cypress/integration/search.spec.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

style: move primary color switcher in design system guide
  ui/App/DesignSystemGuideModal.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: eliminate settings endpoint
  cypress/plugins/nodeManager/plugin.ts
  proxy/api/src/http/session.rs
  proxy/api/src/session.rs
  ui/src/__mocks__/api.ts
  ui/src/proxy/index.ts
  ui/src/proxy/settings.ts
  ui/src/session.test.ts
  ui/src/session.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

create empty state + fix test
  cypress/integration/project/follow.spec.ts
  ui/App/ProfileScreen.svelte
  ui/App/ProfileScreen/ProjectCardSquare.svelte
  ui/App/ScreenLayout/EmptyState.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

simplify empty state if
  ui/App/UserProfileScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: eliminate custom proxy API calls in tests
  cypress/integration/networking.spec.ts
  cypress/integration/project/patches.spec.ts
  cypress/support/commands.ts
  cypress/support/nodeManager.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Update ui/App/ProfileScreen.svelte
  ui/App/ProfileScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

style color input
  ui/App/SettingsScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

split out into component + add to design system
  ui/App/DesignSystemGuideModal.svelte
  ui/App/SettingsScreen.svelte
  ui/DesignSystem/ColorInput.svelte
  ui/DesignSystem/index.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

feat: show anchors on project page
  ui/App.svelte
  ui/App/CreateProjectModal.svelte
  ui/App/OrgIdentity.svelte
  ui/App/OrgScreen/ProjectAnchorPopover.svelte
  ui/App/OrgScreen/Projects.svelte
  ui/App/ProfileScreen/Following.svelte
  ui/App/ProfileScreen/Projects.svelte
  ui/App/ProjectScreen.svelte
  ui/App/ProjectScreen/ProjectHeader.svelte
  ui/App/ProjectScreen/Source.svelte
  ui/App/ProjectScreen/Source/AnchorCard.svelte
  ui/App/ProjectScreen/Source/Anchors.svelte
  ui/App/ProjectScreen/Source/Code.svelte
  ui/App/ProjectScreen/Source/Commit.svelte
  ui/App/ProjectScreen/Source/PatchList.svelte
  ui/App/ProjectScreen/route.ts
  ui/App/SearchModal.svelte
  ui/App/UserProfileScreen/Projects.svelte
  ui/App/WalletScreen/TransactionModal.svelte
  ui/DesignSystem/Copyable.svelte
  ui/DesignSystem/IdentifierLink.svelte
  ui/DesignSystem/lib/format.ts
  ui/index.ts
  ui/src/attestation/contract.ts
  ui/src/attestation/status.ts
  ui/src/localPeer.ts
  ui/src/org.ts
  ui/src/org/contract.ts
  ui/src/org/theGraphApi.ts
  ui/src/project.ts
  ui/src/router/definition.ts
  ui/src/screen/project/source.ts
  ui/src/urn.test.ts
  ui/src/urn.ts
  ui/src/wallet.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

update routing stuff
  ui/App/ProfileScreen.svelte
  ui/App/UserProfileScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

might have fixed the follow test
  cypress/integration/project/follow.spec.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Show placeholder only if there are no projects
  ui/App/ProfileScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Work around bug in svelte language-tools
  ui/App/ProfileScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Refactor and restyle profile screen (#2398)
  cypress/integration/networking.spec.ts
  cypress/integration/project/follow.spec.ts
  cypress/integration/project/patches.spec.ts
  cypress/integration/search.spec.ts
  ui/App.svelte
  ui/App/ProfileScreen.svelte
  ui/App/ProfileScreen/Following.svelte
  ui/App/ProfileScreen/ProjectCardSquare.svelte
  ui/App/ProfileScreen/Projects.svelte
  ui/App/ScreenLayout/EmptyState.svelte
  ui/App/UserProfileScreen.svelte
  ui/App/UserProfileScreen/Projects.svelte
  ui/src/profile.ts
  ui/src/project.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: remove endpoint for getting local identities
  proxy/api/src/http/identity.rs
  proxy/api/src/identity.rs
  ui/src/proxy/identity.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: introduce Response struct for easier error conversion
  proxy/api/src/http/error.rs
Due: none

refactor: remove globally defined SessionInUse error
  proxy/api/src/error.rs
  proxy/api/src/http/error.rs
  proxy/api/src/http/identity.rs
Due: none

update based on review
  ui/App/DesignSystemGuideModal.svelte
  ui/App/SettingsScreen.svelte
  ui/DesignSystem/ColorInput.svelte
  ui/src/appearance.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: network page scroll and button alignment
  ui/App/NetworkScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: persist connection state of test wallet connect
  ui/src/ethereum/walletConnect.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Add `cargo-watch` to development prerequisites
  docs/development.md
Due: none

fix: respond with 404 if project is not found
  proxy/api/src/http/error.rs
Due: none

add hover states to profile cards
  ui/App/ProfileScreen.svelte
  ui/App/ProfileScreen/ProjectCardSquare.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: simplify user profile screen
  ui/App/UserProfileScreen.svelte
  ui/src/userProfile.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

add active state
  ui/App/ProfileScreen/ProjectCardSquare.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore(release): 0.2.11
  CHANGELOG.md
  package.json
Due: prettier --write

chore: show correct release type in script output
  scripts/release.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

active state
  ui/App/ProfileScreen/ProjectCardSquare.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: deduplicate and annotate identity schemas
  ui/src/proxy/identity.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: relative positioning for tooltips
  ui/App/DesignSystemGuideModal.svelte
  ui/DesignSystem/Tooltip.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

wip
  ui/App.svelte
  ui/App/ExploreScreen.svelte
  ui/App/NetworkScreen.svelte
  ui/App/Sidebar.svelte
  ui/src/org/theGraphApi.ts
  ui/src/router/definition.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

wip
  ui/App/ExploreScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

improvement
  ui/App/SettingsScreen.svelte
  ui/App/Theme.svelte
  ui/DesignSystem/ColorInput.svelte
  ui/DesignSystem/SegmentedColorPicker.svelte
  ui/DesignSystem/index.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

docs: document org node setup
  docs/infrastructure.md
Due: none

address review
  ui/App/DesignSystemGuideModal.svelte
  ui/DesignSystem/SegmentedColorPicker.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Custom primary color in settings (#2397)
  ui/App/DesignSystemGuideModal.svelte
  ui/App/SettingsScreen.svelte
  ui/App/Theme.svelte
  ui/DesignSystem/SegmentedColorPicker.svelte
  ui/DesignSystem/index.ts
  ui/src/appearance.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Path conditions:
  prettier --write: any of: *.{js,css,json,html,svelte}
  eslint --fix --max-warnings=0: any of: *.{js,ts,svelte}
  ./scripts/license-header.ts check: any of: *.{js,ts,svelte}
