Repository radicle-dev/radicle-upstream: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

.lintstagedrc.yaml:

"*.{js,css,json,html,svelte}":
- prettier --write
"*.{js,ts,svelte}": 
- eslint --fix --max-warnings=0
- ./scripts/license-header.ts check

feat: integrate org ENS name registration
  ui/App.svelte
  ui/DesignSystem/Modal.svelte
  ui/DesignSystem/ProjectAnchorPopover.svelte
  ui/DesignSystem/Sidebar/OrgList.svelte
  ui/Modal/Org/ConfigureEns.svelte
  ui/Modal/Org/ConfigureEns/BlockTimer.svelte
  ui/Modal/Org/ConfigureEns/ConfirmRegistration.svelte
  ui/Modal/Org/ConfigureEns/Intro.svelte
  ui/Modal/Org/ConfigureEns/LinkOrgToName.svelte
  ui/Modal/Org/ConfigureEns/RegisterName.svelte
  ui/Modal/Org/ConfigureEns/UpdateMetadata.svelte
  ui/Modal/Transaction.svelte
  ui/Screen/Org.svelte
  ui/Screen/Org/OrgHeader.svelte
  ui/Screen/Org/route.ts
  ui/Screen/SingleSigOrg.svelte
  ui/src/ethereum/index.ts
  ui/src/ethereum/walletConnectSigner.ts
  ui/src/org.ts
  ui/src/org/configureEns.ts
  ui/src/org/contract.ts
  ui/src/org/ensRegistrar.ts
  ui/src/org/ensResolver.ts
  ui/src/org/theGraphApi.ts
  ui/src/project.ts
  ui/src/transaction.ts
  ui/src/wallet.ts
  ui/src/wallet/radToken.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: remove presentational logic from transaction module
  ui/DesignSystem/Wallet/Transactions/TxListItem.svelte
  ui/Modal/Transaction.svelte
  ui/src/transaction.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

dev: add tests for transaction modal
  cypress/integration/attestation.spec.ts
  cypress/support/commands.ts
  ui/DesignSystem/Wallet/Transactions/TxListItem.svelte
  ui/Modal/Transaction.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore: update dependencies
  package.json
  ui/DesignSystem/SourceBrowser/FileView.svelte
  ui/Modal/Search.svelte
  ui/Screen/Profile/Following.svelte
  ui/Screen/Profile/Projects.svelte
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: use Gnosis Safe API instead of The Graph index
  package.json
  ui/src/org.ts
  ui/src/org/safe.ts
  ui/src/org/theGraphApi.ts
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: get rid of typescript warning
  ui/DesignSystem/Wallet/Transactions/TxListItem.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: use our own walletconnect bridge
  package.json
  ui/src/ethereum/walletConnect.ts
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore: check that error in catch block is unknown
  .eslintrc.js
  cypress/support/commands.ts
  native/index.ts
  scripts/ethereum-dev-node.ts
  ui/DesignSystem/TxButton.svelte
  ui/Modal/NewProject.svelte
  ui/Modal/Org/ConfigureEns/ConfirmRegistration.svelte
  ui/Modal/Org/ConfigureEns/LinkOrgToName.svelte
  ui/Modal/Org/ConfigureEns/RegisterName.svelte
  ui/Modal/Org/ConfigureEns/UpdateMetadata.svelte
  ui/Screen/Lock.svelte
  ui/Screen/Onboarding.svelte
  ui/Screen/Project/Source.svelte
  ui/Screen/Wallet.svelte
  ui/src/ethereum/walletConnect.ts
  ui/src/funding/pool.ts
  ui/src/identity.ts
  ui/src/org.ts
  ui/src/profile.ts
  ui/src/project.ts
  ui/src/proxy/fetcher.ts
  ui/src/retryOnError.ts
  ui/src/screen/project.ts
  ui/src/screen/project/source.ts
  ui/src/search.ts
  ui/src/session.ts
  ui/src/source.ts
  ui/src/svelteStore.ts
  ui/src/transaction.ts
  ui/src/validation.ts
  ui/src/wallet.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: simplify transaction modal
  ui/DesignSystem/Wallet/Transactions/TxList.svelte
  ui/Modal/Transaction.svelte
  ui/src/transaction.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: reload org list in sidebar on wallet account switch
  ui/src/org.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: fix prettier formatting
  ui/src/org.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

feat: show a timeout message after 10s when loading route
  ui/src/config.ts
  ui/src/router/index.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: catch formatting errors in .ts files in pre-commit check
  .lintstagedrc.yaml
Due: none

refactor: move constants out of config module
  cypress/integration/project/creation.spec.ts
  ui/Modal/NewProject.svelte
  ui/Screen/Profile/Following.svelte
  ui/src/config.ts
  ui/src/notification.ts
  ui/src/project.test.ts
  ui/src/project.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: consolidate and check contract addresses
  cypress/plugins/ethereumDevNode/index.ts
  scripts/ethereum-dev-node.ts
  ui/src/attestation/contract.ts
  ui/src/ethereum/contractAddresses.ts
  ui/src/ethereum/index.ts
  ui/src/funding/contract.ts
  ui/src/funding/pool.ts
  ui/src/org/ensRegistrar.ts
  ui/src/wallet/daiToken.ts
  ui/src/wallet/radToken.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore: document the infrastructure that we own
  docs/infrastructure.md
Due: none

fix: handle wallet connect rejection
  docs/wallet-connect-testing.md
  ui/src/ethereum/walletConnect.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

dev: use predictable path for test data
  cypress/support/commands.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: disable failing patches test
  cypress/integration/project/patches.spec.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore: update zod
  package.json
  ui/src/proxy/fetcher.ts
  ui/src/proxy/source.ts
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

feat: show notification when route loading takes long
  ui/DesignSystem/Notification.svelte
  ui/src/notification.ts
  ui/src/router/index.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: update org ENS names in sidebar after registration
  ui/src/org.ts
  ui/src/org/configureEns.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore: update yarn to v3.0.1
  .github/workflows/build.yaml
  .yarn/releases/yarn-2.4.2.cjs
  .yarn/releases/yarn-3.0.1.cjs
  .yarnrc.yml
  yarn.lock
Due: none

chore: update dependencies
  Cargo.lock
  native/index.ts
  package.json
  proxy/api/Cargo.toml
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

ci: better logging on CI
  cypress/plugins/nodeManager/plugin.ts
  proxy/api/src/process.rs
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore: remove font pre-loading
  public/typography.css
  ui/index.html
Due: prettier --write

chore: remove dead code
  ui/Screen/Blank.svelte
  ui/src/event.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore: remove issues mockup
  ui/DesignSystem/Comment.svelte
  ui/DesignSystem/Label.svelte
  ui/DesignSystem/Textarea.svelte
  ui/DesignSystem/Timeline.svelte
  ui/DesignSystem/Timeline/ActionItem.svelte
  ui/DesignSystem/Timeline/CommentItem.svelte
  ui/DesignSystem/Wallet/Transactions/TxListItem.svelte
  ui/DesignSystem/index.ts
  ui/Screen/Project/Issue.svelte
  ui/Screen/Project/Issues.svelte
  ui/Screen/Project/Issues/IssueCard.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore: move documentation to the docs folder
  CONTRIBUTING.md
  README.md
  docs/contributing.md
  docs/development.md
  docs/ethereum-attestation.md
  docs/ethereum.md
  docs/qa.md
  funding-dev-setup.svg
  scripts/release.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: update link to docs on how to obtain RAD token
  ui/App/OrgScreen/ConfigureEns/Intro.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Simplify dropdown component
  ui/DesignSystem/Dropdown.svelte
  ui/DesignSystem/Dropdown/Option.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Use an TextInput example that's actually used in the app
  ui/App/DesignSystemGuideModal.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Move all Overlay logic into the component so it is selfcontained
  ui/DesignSystem/Overlay.svelte
  ui/src/overlay.test.ts
  ui/src/overlay.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Rewrite Avatar component
  ui/App/CreateOrgModal.svelte
  ui/App/DesignSystemGuideModal.svelte
  ui/App/OrgScreen/Members.svelte
  ui/App/OrgScreen/OrgHeader.svelte
  ui/App/OrgScreen/ProjectAnchorPopover.svelte
  ui/App/ProfileScreen.svelte
  ui/App/ProfileScreen/ProfileHeader.svelte
  ui/App/ProjectScreen/ManagePeers/Peer.svelte
  ui/App/ProjectScreen/PeerSelector/Peer.svelte
  ui/App/ProjectScreen/Source/PatchCard.svelte
  ui/App/ProjectScreen/Source/PatchLoaded.svelte
  ui/App/Sidebar.svelte
  ui/App/Sidebar/OrgList.svelte
  ui/App/UserProfileScreen.svelte
  ui/App/UserProfileScreen/UserProfileHeader.svelte
  ui/App/WalletScreen/LinkAddressModal.svelte
  ui/App/WalletScreen/TransactionModal/Identity.svelte
  ui/DesignSystem/Avatar.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Clean up DesignSystemGuideModal
  ui/App/DesignSystemGuideModal.svelte
  ui/App/DesignSystemGuideModal/ColorSwatch.svelte
  ui/App/DesignSystemGuideModal/IconSwatch.svelte
  ui/App/DesignSystemGuideModal/Section.svelte
  ui/App/DesignSystemGuideModal/Swatch.svelte
  ui/App/DesignSystemGuideModal/TypographySwatch.svelte
  ui/App/FullscreenLayout.svelte
  ui/DesignSystem/SegmentedControl.svelte
  ui/DesignSystem/SupportButton.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Decouple KeyHint from Upstream code
  ui/App/DesignSystemGuideModal.svelte
  ui/App/ShortcutsModal.svelte
  ui/DesignSystem/KeyHint.svelte
  ui/DesignSystem/PasswordInput.svelte
  ui/DesignSystem/TextInput.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Remove stray console.log
  ui/App/Sidebar.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check
