Repository radicle-dev/radicle-upstream: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

doc: fix infra docs
  docs/infrastructure.md
Due: none

update rust dependencies
  Cargo.lock
  Cargo.toml
  proxy/api/Cargo.toml
Due: none

refactor: move showcase into design-system
  design-system/Showcase.svelte
  design-system/Showcase/ColorSwatch.svelte
  design-system/Showcase/Section.svelte
  design-system/Showcase/TypographySwatch.svelte
  ui/App.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

only log internal server errors as errors
  proxy/api/src/http/error.rs
Due: none

refactor: improve management of server and peer tasks
  Cargo.lock
  proxy/api/Cargo.toml
  proxy/api/src/lib.rs
  proxy/api/src/process.rs
  proxy/api/src/shutdown_runner.rs
Due: none

refactor: eliminate rigging indirection
  proxy/api/src/process.rs
Due: none

feat: make design-system deployable to Github pages
  .gitignore
  design-system/.gitignore
  design-system/Emoji.svelte
  design-system/showcase.ts
  design-system/static/colors.css
  design-system/static/elevation.css
  design-system/static/favicon.png
  design-system/static/fonts/Inter-Bold.otf
  design-system/static/fonts/Inter-Regular.otf
  design-system/static/fonts/Inter-SemiBold.otf
  design-system/static/fonts/SourceCodePro-Bold.otf
  design-system/static/fonts/SourceCodePro-Regular.otf
  design-system/static/fonts/SourceCodePro-Semibold.otf
  design-system/static/global.css
  design-system/static/index.html
  design-system/static/reset.css
  design-system/static/typography.css
  package.json
  public/fonts/.gitkeep
  scripts/deploy-design-system.sh
  webpack.config.ts
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

style: use different org avatar image example
  design-system/Showcase.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

wip
  ui/App/ProfileScreen.svelte
  ui/App/ProfileScreen/ProfileSidebar.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

use `git ls-files` to get paths for license check
  .lintstagedrc.yaml
  docs/development.md
  package.json
  scripts/license-header.ts
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

don’t build dist in "build" workflow
  .github/workflows/build.yaml
  ci/build.sh
Due: none

control proxy args through environment variables
  Cargo.lock
  docs/development.md
  native/index.ts
  proxy/api/Cargo.toml
  proxy/api/src/bin/radicle-proxy.rs
  proxy/api/src/cli.rs
  proxy/api/src/lib.rs
  proxy/api/src/process.rs
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fixup! control proxy args through environment variables
  docs/development.md
Due: none

feat: improve diagnostics screen
  Cargo.lock
  proxy-client/index.ts
  proxy/api/Cargo.toml
  proxy/api/src/http.rs
  proxy/api/src/http/diagnostics.rs
  ui/App.svelte
  ui/App/DiagnosticsScreen.svelte
  ui/App/DiagnosticsScreen/Connections.svelte
  ui/App/DiagnosticsScreen/Json.svelte
  ui/App/DiagnosticsScreen/Storage.svelte
  ui/App/DiagnosticsScreen/WaitingRoom.svelte
  ui/App/Hotkeys.svelte
  ui/App/NetworkDiagnosticsScreen.svelte
  ui/App/NetworkDiagnosticsScreen/ConnectedPeers.svelte
  ui/App/NetworkDiagnosticsScreen/StateTable.svelte
  ui/App/NetworkDiagnosticsScreen/WaitingRoom.svelte
  ui/src/hotkeys.ts
  ui/src/router/definition.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

add `upstream-seed` crate
  Cargo.lock
  Cargo.toml
  upstream-seed/Cargo.toml
  upstream-seed/README.md
  upstream-seed/src/cli.rs
  upstream-seed/src/lib.rs
  upstream-seed/src/main.rs
  upstream-seed/src/peer.rs
Due: none

set default seed via env
  native/index.ts
  proxy/api/src/cli.rs
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

feat: add peer membership to diagnostics screen
  proxy-client/index.ts
  proxy/api/src/http/diagnostics.rs
  ui/App/DiagnosticsScreen.svelte
  ui/App/DiagnosticsScreen/Connections.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

remove buildkite scripts and docs
  .buildkite/pipeline.yaml
  README.md
  ci/Dockerfile
  ci/build.sh
  ci/env.sh
  ci/gitconfig
  ci/setup-buildkite.sh
  ci/setup-github-actions.sh
  docs/development.md
Due: none

update Yarn and NPM dependencies
  .yarn/releases/yarn-3.0.1.cjs
  .yarn/releases/yarn-3.1.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

replace `RunError` with `anyhow::Error`
  proxy/api/src/process.rs
Due: none

shutdown upstream seed gracefully
  upstream-seed/Cargo.toml
  upstream-seed/src/lib.rs
  upstream-seed/src/peer.rs
Due: none

chore: expose more peer debugging info in diagnostics
  proxy-client/index.ts
  proxy/api/src/http/diagnostics.rs
  ui/App/DiagnosticsScreen.svelte
  ui/App/DiagnosticsScreen/Connections.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

consistent Rust lint settings
  proxy/api/src/http.rs
  proxy/api/src/lib.rs
  proxy/api/src/service.rs
  upstream-seed/src/lib.rs
  upstream-seed/src/peer.rs
Due: none

wip
  ui/App/ProfileScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

error + sidebar if statement
  ui/App/ProfileScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

add blockies to avatar
  design-system/Avatar.svelte
  design-system/Blockies.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

add blockie to profile sidebar
  design-system/icons/Blockie.svelte
  ui/App/ProfileScreen/ProfileSidebar.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Update design-system/Avatar.svelte
  design-system/Avatar.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Fixup
  ui/App/ProfileScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Fixup
  design-system/Avatar.svelte
  design-system/lib/blockies.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: don't show diagnostics on devtools hotkey
  ui/App/Hotkeys.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

seed: more robust shutdown with task runner
  Cargo.lock
  upstream-seed/Cargo.toml
  upstream-seed/src/lib.rs
Due: none

rename blockie -> blocky
  design-system/Avatar.svelte
  design-system/icons/Blocky.svelte
  ui/App/ProfileScreen/ProfileSidebar.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

split org fetch from ens fetch
  ui/App/ProfileScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Path conditions:
  prettier --write: any of: *.{js,css,json,html,svelte}
  eslint --fix --max-warnings=0: any of: *.{js,ts,svelte}
  ./scripts/license-header.ts check: any of: *.{js,ts,svelte}
