Repository radicle-dev/radicle-upstream: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

.lintstagedrc.yaml:

"*.{js,css,json,html,svelte}":
- prettier --write
"*.{js,ts,svelte}": 
- eslint --fix --max-warnings=0
- ./scripts/license-header.ts check

Store primaryColor in localStorage
  ui/App/SettingsScreen.svelte
  ui/App/Theme.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore: update radicle-link
  Cargo.lock
  Cargo.toml
  proxy/api/Cargo.toml
Due: none

Fixup
  ui/App/SettingsScreen.svelte
  ui/App/Theme.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Simplify
  ui/App/SettingsScreen.svelte
  ui/App/Theme.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

move color options and update function to module to make it accessible in design system
  ui/App/DesignSystemGuideModal.svelte
  ui/App/SettingsScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix types
  ui/App/SettingsScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: eliminate use of radicle_daemon::MaybeFrom
  proxy/api/src/notification.rs
  proxy/api/src/process.rs
Due: none

fix: try to avoid CI race conditions in networking tests
  cypress/integration/networking.spec.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

first stab at custom primary color
  public/colors.css
  ui/App/SettingsScreen.svelte
  ui/App/Theme.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore: update dependencies
  package.json
  yarn.lock
Due: prettier --write

fix: cookie handling after electron and cypress upgrade
  cypress/plugins/nodeManager/plugin.ts
  package.json
  proxy/api/src/http/keystore.rs
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

simplify data access
  ui/App/ProfileScreen.svelte
  ui/App/ProfileScreen/Following.svelte
  ui/App/ProfileScreen/Projects.svelte
  ui/src/profile.ts
  ui/src/project.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: cleanup identity endpoints
  cypress/support/commands.ts
  ui/App/OnboardingModal.svelte
  ui/src/identity.ts
  ui/src/org.ts
  ui/src/proxy/identity.ts
  ui/src/proxy/index.ts
  ui/src/userProfile.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Reactive project updates
  ui/App/ProfileScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

feat: add primary font color to settings
  public/colors.css
  ui/App/DesignSystemGuideModal.svelte
  ui/App/SettingsScreen.svelte
  ui/App/Theme.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore: update radicle-link
  .buildkite/pipeline.yaml
  .github/workflows/build.yaml
  Cargo.lock
  Cargo.toml
  ci/Dockerfile
  proxy/api/Cargo.toml
  proxy/api/src/keystore.rs
Due: none

Move format.ts to design system
  ui/App/OrgScreen/OrgHeader.svelte
  ui/App/OrgScreen/ProjectAnchorPopover.svelte
  ui/App/ProjectScreen.svelte
  ui/App/ProjectScreen/Source/SourceBrowser/CommitTeaser.svelte
  ui/App/Sidebar/OrgList.svelte
  ui/App/TransactionHash.svelte
  ui/App/WalletScreen/QrCodeModal.svelte
  ui/DesignSystem/Identifier.svelte
  ui/DesignSystem/index.ts
  ui/DesignSystem/lib/format.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: improve identifier components
  ui/App/CreateOrgModal.svelte
  ui/App/DesignSystemGuideModal.svelte
  ui/App/NetworkDiagnosticsScreen/StateTable.svelte
  ui/App/NetworkScreen.svelte
  ui/App/OnboardingModal/Success.svelte
  ui/App/OrgScreen/Members.svelte
  ui/App/OrgScreen/OrgHeader.svelte
  ui/App/OrgScreen/ProjectAnchorPopover.svelte
  ui/App/OrgScreen/UnresolvedAnchorList.svelte
  ui/App/ProfileScreen/Following.svelte
  ui/App/ProfileScreen/ProfileHeader.svelte
  ui/App/ProjectScreen/ManagePeers/Peer.svelte
  ui/App/ProjectScreen/ManagePeers/PeerFollowRequest.svelte
  ui/App/ProjectScreen/ProjectHeader.svelte
  ui/App/ProjectScreen/Source/Commit.svelte
  ui/App/SearchModal.svelte
  ui/App/SettingsScreen.svelte
  ui/App/TransactionHash.svelte
  ui/App/UserProfileScreen/UserProfileHeader.svelte
  ui/App/WalletScreen/LinkAddressModal.svelte
  ui/App/WalletScreen/TransactionModal.svelte
  ui/App/WalletScreen/WalletPanel.svelte
  ui/DesignSystem/CopyableIdentifier.svelte
  ui/DesignSystem/IdentifierLink.svelte
  ui/DesignSystem/index.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

feat: add validated browser storage abstraction
  ui/src/browserStore.test.ts
  ui/src/browserStore.ts
  ui/src/ethereum/index.ts
  ui/src/updateChecker.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: cleanup references to radicle_daemon
  Cargo.lock
  Cargo.toml
  proxy/api/Cargo.toml
  proxy/api/src/bin/git-remote-rad.rs
  proxy/api/src/browser.rs
  proxy/api/src/config.rs
  proxy/api/src/context.rs
  proxy/api/src/error.rs
  proxy/api/src/ethereum/claim_ext.rs
  proxy/api/src/http.rs
  proxy/api/src/http/control.rs
  proxy/api/src/http/error.rs
  proxy/api/src/http/identity.rs
  proxy/api/src/http/project.rs
  proxy/api/src/http/project/request.rs
  proxy/api/src/http/source.rs
  proxy/api/src/identifier.rs
  proxy/api/src/identity.rs
  proxy/api/src/keystore.rs
  proxy/api/src/notification.rs
  proxy/api/src/patch.rs
  proxy/api/src/process.rs
  proxy/api/src/project.rs
  proxy/api/src/service.rs
  proxy/api/src/session.rs
Due: none

refactor: use browserStore to store commitments
  ui/App/OrgScreen/ConfigureEns/ConfirmRegistration.svelte
  ui/App/OrgScreen/ConfigureEns/RegisterName.svelte
  ui/src/org/ensRegistrar.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: remove Urn type alias
  ui/App/ProfileScreen/Following.svelte
  ui/App/ProjectScreen.svelte
  ui/App/ProjectScreen/ManagePeers/Peer.svelte
  ui/App/ProjectScreen/ManagePeers/PeerFollowRequest.svelte
  ui/App/ProjectScreen/ManagePeersModal.svelte
  ui/App/ProjectScreen/Source/Code.svelte
  ui/src/project.ts
  ui/src/project/patch.ts
  ui/src/screen/project.ts
  ui/src/source.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: store remote helper hint data locally
  ui/App/CreateProjectModal.svelte
  ui/App/ProjectScreen/RemoteHelperHint.svelte
  ui/App/ProjectScreen/Source/CheckoutButton.svelte
  ui/src/session.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

feat: add dedicated endpoint for network seeds
  proxy/api/src/http/session.rs
  proxy/api/src/lib.rs
  proxy/api/src/session.rs
  ui/App/NetworkScreen.svelte
  ui/src/proxy/index.ts
  ui/src/session.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: store appearance settings in browser
  proxy/api/src/http/source.rs
  public/colors.css
  ui/App/DesignSystemGuideModal.svelte
  ui/App/Hotkeys.svelte
  ui/App/SettingsScreen.svelte
  ui/App/Theme.svelte
  ui/src/__mocks__/api.ts
  ui/src/appearance.ts
  ui/src/hotkeys.ts
  ui/src/proxy/source.ts
  ui/src/screen/project/source.ts
  ui/src/session.ts
  ui/src/settings.ts
  ui/src/source.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: improve helper hint store readability
  ui/App/ProjectScreen/RemoteHelperHint.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

square project cards style
  ui/App/ProfileScreen.svelte
  ui/App/ProfileScreen/ProjectCardSquare.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

style cards and add request card
  ui/App.svelte
  ui/App/ProfileScreen.svelte
  ui/App/ProfileScreen/ProjectCardSquare.svelte
  ui/App/ProfileScreen/RequestCardSquare.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor UserProfileScreen
  ui/App/UserProfileScreen.svelte
  ui/App/UserProfileScreen/Projects.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

empty states and error states :
  ui/App/ProfileScreen.svelte
  ui/App/UserProfileScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix ci
  ui/App/ProfileScreen/ProjectCardSquare.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix tests
  cypress/integration/networking.spec.ts
  cypress/integration/project/patches.spec.ts
  ui/App/ProfileScreen.svelte
  ui/App/ProfileScreen/RequestCardSquare.svelte
  ui/App/UserProfileScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix more tests
  cypress/integration/networking.spec.ts
  cypress/integration/project/follow.spec.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix more tests
  cypress/integration/project/follow.spec.ts
  ui/App/ProfileScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

click show project button in tests
  cypress/integration/project/follow.spec.ts
  cypress/integration/search.spec.ts
  ui/App/ProfileScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: use svelte types in remote store
  ui/src/remote.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

simplify components
  ui/App/ProfileScreen.svelte
  ui/App/ProfileScreen/ProjectCardSquare.svelte
  ui/App/ProfileScreen/RequestCardSquare.svelte
  ui/App/UserProfileScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

address review feedback
  ui/App/ProfileScreen.svelte
  ui/App/UserProfileScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

docs: add contribution notes for designers
  docs/contributing.md
Due: none

Migrate to host/id based seed node records
  ui/App/OrgScreen/ConfigureEns/UpdateMetadata.svelte
  ui/App/OrgScreen/OrgHeader.svelte
  ui/src/org/ensResolver.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check
