Repository radicle-dev/radicle-upstream: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

.lintstagedrc.yaml:

"*.{js,css,json,html,svelte}":
- prettier --write
"*.{js,ts,svelte}": 
- eslint --fix --max-warnings=0
- ./scripts/license-header.ts check

Move onSubmit to props
  ui/Modal/Org/ConfigureEns.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: show icon and website when connecting via walletConnect
  ui/src/ethereum/walletConnect.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: ignore security advisory that we’re unaffected by
  deny.toml
Due: none

fix: check all files for licenses by default
  scripts/license-header.ts
  ui/src/memoizeLru.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: reduce dependency on ui code
  ui/DesignSystem/ThreeDotsMenu.svelte
  ui/DesignSystem/ThreeDotsMenu.types.ts
  ui/Modal/Org/ConfigureEns.svelte
  ui/Screen/Org.svelte
  ui/Screen/SingleSigOrg.svelte
  ui/src/org.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: reduce dependency on ui code (#2199)
  ui/DesignSystem/ThreeDotsMenu.svelte
  ui/DesignSystem/ThreeDotsMenu.types.ts
  ui/Modal/Org/ConfigureEns.svelte
  ui/Screen/Org.svelte
  ui/Screen/SingleSigOrg.svelte
  ui/src/org.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: improve modal prop interface
  ui/src/modal.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

feat: add signTypedData to wallet connect
  ui/src/ethereum/walletConnect.ts
  ui/src/ethereum/walletConnectSigner.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: properly scale avatar images
  ui/DesignSystem/Avatar.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: text input without label
  ui/DesignSystem/TextInput.svelte
  ui/Modal/Org/ConfigureEns/LinkOrgToName.svelte
  ui/Modal/Org/ConfigureEns/PopulateMetadata.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: text input without label (#2200)
  ui/DesignSystem/TextInput.svelte
  ui/Modal/Org/ConfigureEns/LinkOrgToName.svelte
  ui/Modal/Org/ConfigureEns/PopulateMetadata.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: properly memoize `undefined` return value
  ui/src/memoizeLru.test.ts
  ui/src/memoizeLru.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: don’t use stale wallet
  ui/Modal/Org/ConfigureEns/ConfirmRegistration.svelte
  ui/Modal/Org/ConfigureEns/EnterEnsName.svelte
  ui/src/org/ensRegistrar.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: don’t use stale wallet (#2203)
  ui/Modal/Org/ConfigureEns/ConfirmRegistration.svelte
  ui/Modal/Org/ConfigureEns/EnterEnsName.svelte
  ui/src/org/ensRegistrar.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: align use of setName for org contract
  ui/Modal/Org/ConfigureEns/LinkOrgToName.svelte
  ui/src/ethereum/index.ts
  ui/src/org.ts
  ui/src/org/contract.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: fix dev commands for merging prs
  DEVELOPMENT.md
Due: none

refactor: align use of setName for org contract (#2204)
  ui/Modal/Org/ConfigureEns/LinkOrgToName.svelte
  ui/src/ethereum/index.ts
  ui/src/org.ts
  ui/src/org/contract.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

feat: add `suffix` property to text input
  ui/DesignSystem/TextInput.svelte
  ui/Screen/DesignSystemGuide.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: remove unused shareable_entity_identifier attribute
  proxy/api/src/http/identity.rs
  proxy/api/src/http/project.rs
  proxy/api/src/identity.rs
  proxy/api/src/project.rs
  ui/src/__mocks__/api.ts
  ui/src/identity.ts
  ui/src/proxy/identity.ts
  ui/src/proxy/project.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: simplify Tooltip component
  ui/DesignSystem/EmptyState.svelte
  ui/DesignSystem/PeerSelector.svelte
  ui/DesignSystem/ThreeDotsMenu.svelte
  ui/DesignSystem/Tooltip.svelte
  ui/Modal/ManagePeers/Peer.svelte
  ui/Modal/NewProject.svelte
  ui/Screen/DesignSystemGuide.svelte
  ui/Screen/Org/ProjectsMenu.svelte
  ui/src/style.ts
  ui/src/tooltip.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: use proxy IP instead of hostname
  cypress/support/commands.ts
  ui/src/config.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: fix race conditions in source browsing tests
  ui/src/proxy/fetcher.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: add dot to org ens names
  ui/Screen/Org/OrgHeader.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: tests wait until keystore is sealed
  cypress/support/commands.ts
  proxy/api/src/context.rs
  proxy/api/src/http/notification.rs
  proxy/api/src/process.rs
  proxy/api/src/service.rs
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

update release process description to new bucket location
  DEVELOPMENT.md
  scripts/release.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: don’t use stale wallet in resolver
  ui/src/org/ensResolver.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

feat: show other user profiles
  cypress/integration/networking.spec.ts
  cypress/integration/project/source_browsing.spec.ts
  cypress/integration/user_profile.spec.ts
  cypress/support/commands.ts
  proxy/api/src/control.rs
  proxy/api/src/http/control.rs
  proxy/api/src/http/identity.rs
  proxy/api/src/http/project.rs
  proxy/api/src/identity.rs
  ui/DesignSystem/PeerSelector.svelte
  ui/Modal/ManagePeers.svelte
  ui/Modal/ManagePeers/Peer.svelte
  ui/Screen/Org/Members.svelte
  ui/Screen/Project.svelte
  ui/Screen/UserProfile.svelte
  ui/Screen/UserProfile/UserProfileHeader.svelte
  ui/src/proxy/control.ts
  ui/src/proxy/identity.ts
  ui/src/userProfile.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore: update radicle-link and other cargo deps
  Cargo.lock
  deny.toml
  proxy/api/Cargo.toml
Due: none

fix: don’t fetch transaction receipt twice.
  ui/src/ethereum/walletConnectSigner.ts
  ui/src/org/ensRegistrar.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

simplif registration
  ui/src/org.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: use abstract provider interface
  ui/src/wallet.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: use literal types where possible
  ui/DesignSystem/Badge.svelte
  ui/DesignSystem/Button.svelte
  ui/DesignSystem/DirectoryInput.svelte
  ui/DesignSystem/FollowToggle.svelte
  ui/DesignSystem/PeerSelector/Peer.svelte
  ui/DesignSystem/ProjectCard.svelte
  ui/DesignSystem/SourceBrowser/RevisionSelector/Entry.svelte
  ui/DesignSystem/TxButton.svelte
  ui/Modal/ManagePeers/Peer.svelte
  ui/src/badge.ts
  ui/src/style.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: remove session from global context
  ui/App.svelte
  ui/DesignSystem/Remote.svelte
  ui/DesignSystem/SidebarLayout.svelte
  ui/DesignSystem/WithContext.svelte
  ui/Screen/Loading.svelte
  ui/Screen/Org/Projects.svelte
  ui/Screen/Profile.svelte
  ui/Screen/Profile/Following.svelte
  ui/Screen/Profile/Projects.svelte
  ui/Screen/Project.svelte
  ui/Screen/Project/Source/Patch.svelte
  ui/Screen/Settings.svelte
  ui/src/attestation/status.ts
  ui/src/session.ts
  ui/src/userProfile.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore: add social media icons
  ui/DesignSystem/Icon/Github.svelte
  ui/DesignSystem/Icon/Twitter.svelte
  ui/DesignSystem/Icon/index.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

wip
  ui/DesignSystem/Sidebar/OrgList.svelte
  ui/Modal/Org/ConfigureEns.svelte
  ui/Modal/Org/ConfigureEns/BlockTimer.svelte
  ui/Modal/Org/ConfigureEns/ConfigureEnsIntro.svelte
  ui/Modal/Org/ConfigureEns/ConfirmEnsName.svelte
  ui/Modal/Org/ConfigureEns/ConfirmRegistration.svelte
  ui/Modal/Org/ConfigureEns/EnterEnsName.svelte
  ui/Modal/Org/ConfigureEns/LinkOrgToName.svelte
  ui/Modal/Org/ConfigureEns/LinkOrgToNameSuccess.svelte
  ui/Modal/Org/ConfigureEns/PopulateMetadata.svelte
  ui/Modal/Org/ConfigureEns/Register.svelte
  ui/Modal/Org/ConfigureEns/RegistrationSuccess.svelte
  ui/Modal/Org/ConfigureEns/UpdateMetadata.svelte
  ui/Modal/Org/ConfigureEns/UpdateMetadataSuccess.svelte
  ui/Modal/Org/ConfigureEns/WaitingToRegister.svelte
  ui/Modal/Org/ConfigureEns/ens-flow.types.ts
  ui/Screen/Org.svelte
  ui/Screen/Org/OrgHeader.svelte
  ui/Screen/SingleSigOrg.svelte
  ui/src/org/ensResolver.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: silent retries if graph is unavailable
  ui/src/org.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

rewrite configure ens steps
  ui/DesignSystem/Sidebar/OrgList.svelte
  ui/Modal/Org/ConfigureEns.svelte
  ui/Modal/Org/ConfigureEns/BlockTimer.svelte
  ui/Modal/Org/ConfigureEns/ConfigureEnsIntro.svelte
  ui/Modal/Org/ConfigureEns/ConfirmEnsName.svelte
  ui/Modal/Org/ConfigureEns/ConfirmRegistration.svelte
  ui/Modal/Org/ConfigureEns/EnterEnsName.svelte
  ui/Modal/Org/ConfigureEns/LinkOrgToName.svelte
  ui/Modal/Org/ConfigureEns/LinkOrgToNameSuccess.svelte
  ui/Modal/Org/ConfigureEns/PopulateMetadata.svelte
  ui/Modal/Org/ConfigureEns/Register.svelte
  ui/Modal/Org/ConfigureEns/RegistrationSuccess.svelte
  ui/Modal/Org/ConfigureEns/UpdateMetadata.svelte
  ui/Modal/Org/ConfigureEns/UpdateMetadataSuccess.svelte
  ui/Modal/Org/ConfigureEns/WaitingToRegister.svelte
  ui/Modal/Org/ConfigureEns/ens-flow.types.ts
  ui/Screen/Org.svelte
  ui/Screen/Org/OrgHeader.svelte
  ui/Screen/SingleSigOrg.svelte
  ui/src/org/ensResolver.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: remove WalletConnect signer defaults
  ui/src/ethereum/walletConnectSigner.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

feat: show RAD token balance on wallet screen
  ui/DesignSystem/Wallet/Panel.svelte
  ui/Screen/Wallet.svelte
  ui/src/funding/pool.ts
  ui/src/wallet.ts
  ui/src/wallet/daiToken.ts
  ui/src/wallet/radToken.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore: upgrade dependencies
  package.json
  webpack.config.ts
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check
