Repository radicle-dev/radicle-upstream: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

.lintstagedrc.yaml:

"*.{js,css,json,html,svelte}":
- prettier --write
"*.{js,ts,svelte}": 
- eslint --fix --max-warnings=0
- ./scripts/license-header.ts check

feat: improve search modal
  cypress/integration/search.spec.ts
  ui/App/DesignSystemGuideModal.svelte
  ui/App/OrgScreen/UnresolvedAnchorList.svelte
  ui/App/ProfileScreen/ProjectCardSquare.svelte
  ui/App/ProfileScreen/ProjectList.svelte
  ui/App/SearchModal.svelte
  ui/App/SharedComponents/ProjectStats.svelte
  ui/DesignSystem/TextInput.svelte
  ui/src/customProtocolHandler.ts
  ui/src/search.ts
  ui/src/urn.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: remove URN type alias
  ui/src/localPeer.ts
  ui/src/urn.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: eliminate unused ui/src/api.ts
  ui/src/api.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: replace `Header` with `ScreenLayout` slot.
  ui/App/NetworkDiagnosticsScreen.svelte
  ui/App/OrgScreen.svelte
  ui/App/ProfileScreen.svelte
  ui/App/ProjectScreen.svelte
  ui/App/ScreenLayout.svelte
  ui/App/ScreenLayout/Header.svelte
  ui/App/SingleSigOrgScreen.svelte
  ui/App/UserProfileScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: decouple TextInput from dependencies
  ui/App/CreateOrgModal.svelte
  ui/App/CreateProjectModal.svelte
  ui/App/DesignSystemGuideModal.svelte
  ui/App/NetworkScreen.svelte
  ui/App/OnboardingModal/EnterName.svelte
  ui/App/OnboardingModal/EnterPassphrase.svelte
  ui/App/OrgScreen/ConfigureEns/RegisterName.svelte
  ui/App/OrgScreen/ConfigureEns/UpdateMetadata.svelte
  ui/App/ProjectScreen/ManagePeersModal.svelte
  ui/DesignSystem/DirectoryInput.svelte
  ui/DesignSystem/TextInput.svelte
  ui/DesignSystem/TextInput.ts
  ui/DesignSystem/index.ts
  ui/src/screen/project.ts
  ui/src/validation.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

move container styles to screenlayout component
  ui/App/NetworkScreen.svelte
  ui/App/OrgScreen.svelte
  ui/App/OrgScreen/OrgSidebar.svelte
  ui/App/OrgScreen/Projects.svelte
  ui/App/OrgsScreen.svelte
  ui/App/ProfileScreen.svelte
  ui/App/ScreenLayout.svelte
  ui/App/SettingsScreen.svelte
  ui/App/SingleSigOrgScreen.svelte
  ui/App/UserProfileScreen.svelte
  ui/App/WalletScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

resolve network merge error
  ui/App/NetworkScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

px -> rem
  ui/App/NetworkScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Fix merge conflict
  ui/App/NetworkScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix scroll height thing
  ui/App/ScreenLayout.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

border color fix
  ui/App/ProfileScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

userProfileScreen margin
  ui/App/UserProfileScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

project fixed header fix
  ui/App/ProjectScreen.svelte
  ui/App/ScreenLayout.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix userprofile header
  ui/App/UserProfileScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix project header alignment
  ui/App/ProjectScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix project header max-width
  ui/App/ProjectScreen.svelte
  ui/App/ScreenLayout.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix scaling issues
  ui/App/ScreenLayout.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix padding on project page
  ui/App/ProjectScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

DRY up the screen layouts (#2527)
  ui/App/NetworkScreen.svelte
  ui/App/OrgScreen.svelte
  ui/App/OrgScreen/OrgSidebar.svelte
  ui/App/OrgScreen/Projects.svelte
  ui/App/OrgsScreen.svelte
  ui/App/ProfileScreen.svelte
  ui/App/ProjectScreen.svelte
  ui/App/ScreenLayout.svelte
  ui/App/SettingsScreen.svelte
  ui/App/SingleSigOrgScreen.svelte
  ui/App/UserProfileScreen.svelte
  ui/App/WalletScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

ran prettier:write
  cypress/integration/attestation.spec.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: force kill test nodes
  cypress/plugins/nodeManager/plugin.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

run macOS builds only for PRs
  .github/workflows/build.yaml
Due: none

build distribution on Github Actions
  .buildkite/pipeline.yaml
  .github/workflows/build.yaml
  .github/workflows/dist.yaml
  ci/build.sh
  ci/dist.sh
  ci/env.sh
  docs/infrastructure.md
  scripts/release.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: deduplicate common fields in context
  proxy/api/src/context.rs
  proxy/api/src/http.rs
  proxy/api/src/http/identity.rs
  proxy/api/src/http/project.rs
  proxy/api/src/http/session.rs
  proxy/api/src/process.rs
  proxy/api/src/session.rs
Due: none

feat: add proxy CLI option to unseal key for development
  proxy/api/src/bin/radicle-proxy.rs
  proxy/api/src/process.rs
  proxy/api/src/service.rs
Due: none

chore: update text in 'Claim Radicle Identity' transaction
  cypress/integration/attestation.spec.ts
  ui/src/transaction.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

feat: show user hovercard on PeerSelector hover
  design-system/Button.svelte
  public/global.css
  ui/App/ProjectScreen.svelte
  ui/App/ProjectScreen/ManagePeers/Peer.svelte
  ui/App/SharedComponents/PeerSelector.svelte
  ui/App/SharedComponents/UserBadge.svelte
  ui/App/SharedComponents/UserIdentity.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: simplify color picker
  design-system/SegmentedColorPicker.svelte
  design-system/SegmentedControl.svelte
  ui/App/DesignSystemGuideModal.svelte
  ui/App/SettingsScreen.svelte
  ui/App/SharedComponents/CodeFontSetting.svelte
  ui/App/SharedComponents/PrimaryColorSetting.svelte
  ui/App/SharedComponents/ThemeSetting.svelte
  ui/App/SharedComponents/UiFontSetting.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

document how to update NPM dependencies
  docs/development.md
Due: none

update radicle-link to cycle/2021-10-26
  Cargo.lock
  Cargo.toml
  deny.toml
  proxy/api/Cargo.toml
Due: none

chore: update build badge
  README.md
Due: none

improve org-node infra documentation
  docs/infrastructure.md
Due: none

chore: update NPM dependencies
  package.json
  ui/src/org/ensResolver.ts
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: extract process tasks into separate functions
  proxy/api/src/process.rs
Due: none

build all branches on linux and macOS on master
  .github/workflows/build.yaml
Due: none

don’t buffer output for long running subprocesses
  cypress/plugins/nodeManager/plugin.ts
  native/proxy-process-manager.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

patch `radicle-link` crates at workspace level
  Cargo.toml
  proxy/api/Cargo.toml
Due: none

fix macOS workflow definition again
  .github/workflows/build.yaml
Due: none

Log more verbosly in proxy during development
  native/index.ts
  proxy/api/src/bin/radicle-proxy.rs
  proxy/api/src/process.rs
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check
