Repository radicle-dev/radicle-upstream: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

.lintstagedrc.yaml:

"*.{js,css,json,html,svelte}":
- prettier --write
"*.{js,ts,svelte}": 
- eslint --fix --max-warnings=0
- ./scripts/license-header.ts check

Fixup
  ui/Modal/Org/ConfigureEns.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Notify user of insufficient funds
  ui/Modal/Org/ConfigureEns/Register.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Show fee at the beginning of the flow
  ui/Modal/Org/ConfigureEns.svelte
  ui/Modal/Org/ConfigureEns/ConfigureEnsIntro.svelte
  ui/Modal/Org/ConfigureEns/EnterEnsName.svelte
  ui/Modal/Org/ConfigureEns/Register.svelte
  ui/src/org.ts
  ui/src/org/ensRegistrar.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Use Modal component everywhere
  ui/DesignSystem/Modal.svelte
  ui/Modal/Org/ConfigureEns.svelte
  ui/Modal/Org/ConfigureEns/ConfigureEnsIntro.svelte
  ui/Modal/Org/ConfigureEns/ConfirmRegistration.svelte
  ui/Modal/Org/ConfigureEns/EnterEnsName.svelte
  ui/Modal/Org/ConfigureEns/LinkOrgToName.svelte
  ui/Modal/Org/ConfigureEns/Register.svelte
  ui/Modal/Org/ConfigureEns/UpdateMetadata.svelte
  ui/Modal/Org/ConfigureEns/shared/Header.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Center progress bar
  ui/Modal/Org/ConfigureEns/BlockTimer.svelte
  ui/Modal/Org/ConfigureEns/ConfirmRegistration.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Adjust copy
  ui/Modal/Org/ConfigureEns/EnterEnsName.svelte
  ui/Modal/Org/ConfigureEns/UpdateMetadata.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Restore validation
  ui/Modal/Org/ConfigureEns/UpdateMetadata.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Fix update metadata form
  ui/Modal/Org/ConfigureEns/UpdateMetadata.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Update copy
  ui/Modal/Org/ConfigureEns/ConfirmRegistration.svelte
  ui/Modal/Org/ConfigureEns/EnterEnsName.svelte
  ui/Modal/Org/ConfigureEns/LinkOrgToName.svelte
  ui/Modal/Org/ConfigureEns/UpdateMetadata.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Update copy
  ui/Modal/Org/ConfigureEns/UpdateMetadata.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Update BlockTimer component
  ui/Modal/Org/ConfigureEns/BlockTimer.svelte
  ui/Modal/Org/ConfigureEns/ConfirmRegistration.svelte
  ui/Modal/Org/ConfigureEns/Register.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Move funds check to enter name step
  ui/Modal/Org/ConfigureEns.svelte
  ui/Modal/Org/ConfigureEns/EnterEnsName.svelte
  ui/Modal/Org/ConfigureEns/Register.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Unhardwrap
  ui/Modal/Org/ConfigureEns/ConfirmRegistration.svelte
  ui/Modal/Org/ConfigureEns/LinkOrgToName.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

WIP merge enter and check name steps pt1
  ui/Modal/Org/ConfigureEns/EnterEnsName.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

WIP merge enter and check name steps pt2
  ui/Modal/Org/ConfigureEns.svelte
  ui/Modal/Org/ConfigureEns/EnterEnsName.svelte
  ui/Modal/Org/ConfigureEns/Register.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Rename components
  ui/Modal/Org/ConfigureEns.svelte
  ui/Modal/Org/ConfigureEns/Intro.svelte
  ui/Modal/Org/ConfigureEns/RegisterName.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: don’t handle unhandled errors in cypress runner
  ui/src/error.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore: update walletconnect
  package.json
  yarn.lock
Due: prettier --write

fix: wait until session is unsealed
  ui/src/session.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: extract `retryOnError`
  ui/Screen/Onboarding.svelte
  ui/src/api.ts
  ui/src/proxy/index.ts
  ui/src/retryOnError.test.ts
  ui/src/retryOnError.ts
  ui/src/session.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: error check
  ui/src/session.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore(release): 0.2.10
  CHANGELOG.md
  package.json
Due: prettier --write

Move component
  ui/Modal/Org/ConfigureEns/ButtonRow.svelte
  ui/Modal/Org/ConfigureEns/ConfirmRegistration.svelte
  ui/Modal/Org/ConfigureEns/Intro.svelte
  ui/Modal/Org/ConfigureEns/LinkOrgToName.svelte
  ui/Modal/Org/ConfigureEns/RegisterName.svelte
  ui/Modal/Org/ConfigureEns/UpdateMetadata.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Pacify ts-lint
  ui/Modal/Org/ConfigureEns/RegisterName.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Fixup
  ui/Modal/Org/ConfigureEns.svelte
  ui/Modal/Org/ConfigureEns/RegisterName.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore: use the default walletconnect bridge
  ui/src/ethereum/walletConnect.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Rename variables
  ui/Modal/Org/ConfigureEns.svelte
  ui/Modal/Org/ConfigureEns/ConfirmRegistration.svelte
  ui/Modal/Org/ConfigureEns/RegisterName.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Refactor
  ui/Modal/Org/ConfigureEns.svelte
  ui/Modal/Org/ConfigureEns/ConfirmRegistration.svelte
  ui/Modal/Org/ConfigureEns/RegisterName.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Rename function
  ui/Modal/Org/ConfigureEns/RegisterName.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: update release bucket for latest release
  scripts/release.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Fix race condition
  ui/Modal/Org/ConfigureEns/RegisterName.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: don’t swallow transaction error source
  ui/src/transaction.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Update ui/Modal/Org/ConfigureEns/RegisterName.svelte
  ui/Modal/Org/ConfigureEns/RegisterName.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Show notifications for wallet interaction
  ui/Modal/Org/ConfigureEns/RegisterName.svelte
  ui/Modal/Transaction.svelte
  ui/src/org/ensRegistrar.ts
  ui/src/transaction.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Revert todo
  ui/Modal/Org/ConfigureEns.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: unify UI configuration
  DEVELOPMENT.md
  cypress/support/ipc-stub.ts
  cypress/support/nodeManager.ts
  native/index.ts
  native/preload.d.ts
  native/preload.js
  ui/DesignSystem/SourceBrowser/RevisionSelector.svelte
  ui/DesignSystem/Wallet/Panel.svelte
  ui/Hotkeys.svelte
  ui/Modal/Shortcuts.svelte
  ui/Screen/Wallet.svelte
  ui/src/api.ts
  ui/src/config.ts
  ui/src/ethereum/index.ts
  ui/src/localPeer.ts
  ui/src/proxy/index.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Add notifications to the registration step
  ui/Modal/Org/ConfigureEns/ConfirmRegistration.svelte
  ui/Modal/Org/ConfigureEns/RegisterName.svelte
  ui/Modal/Transaction.svelte
  ui/src/org/ensRegistrar.ts
  ui/src/transaction.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Calculate the deadline properly
  ui/Modal/Org/ConfigureEns/RegisterName.svelte
  ui/src/org/ensRegistrar.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Document attribute
  ui/Modal/Org/ConfigureEns/BlockTimer.svelte
  ui/Modal/Org/ConfigureEns/ConfirmRegistration.svelte
  ui/Modal/Org/ConfigureEns/RegisterName.svelte
  ui/src/org/ensRegistrar.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Inline function
  ui/Modal/Org/ConfigureEns/RegisterName.svelte
  ui/src/org/ensRegistrar.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check
