Repository radicle-dev/radicle-upstream: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: update radicle-link to properly shutdown
  Cargo.lock
  proxy/api/Cargo.toml
  proxy/api/src/context.rs
  proxy/api/src/process.rs
Due: none

feat: Org naming flow
  scripts/license-header.ts
  tsconfig.json
  ui/App.svelte
  ui/DesignSystem/Avatar.svelte
  ui/DesignSystem/Sidebar/OrgList.svelte
  ui/DesignSystem/TextInput.svelte
  ui/Modal/EnsSetupFlow/EnsSetupFlow.svelte
  ui/Modal/EnsSetupFlow/ens-flow.types.ts
  ui/Modal/EnsSetupFlow/steps/ConfirmEnsName.svelte
  ui/Modal/EnsSetupFlow/steps/ConfirmRegistration.svelte
  ui/Modal/EnsSetupFlow/steps/EnsSetupFlowIntro.svelte
  ui/Modal/EnsSetupFlow/steps/EnterEnsName.svelte
  ui/Modal/EnsSetupFlow/steps/LinkOrgToName.svelte
  ui/Modal/EnsSetupFlow/steps/LinkOrgToNameSuccess.svelte
  ui/Modal/EnsSetupFlow/steps/PopulateMetadata.svelte
  ui/Modal/EnsSetupFlow/steps/RegistrationSuccess.svelte
  ui/Modal/EnsSetupFlow/steps/UpdateMetadataSuccess.svelte
  ui/Modal/EnsSetupFlow/steps/WaitingToRegister/WaitingToRegister.svelte
  ui/Modal/EnsSetupFlow/steps/WaitingToRegister/components/BlockTimer.svelte
  ui/Modal/EnsSetupFlow/steps/WaitingToRegister/index.ts
  ui/Modal/EnsSetupFlow/steps/shared/ButtonRow.svelte
  ui/Modal/EnsSetupFlow/steps/shared/HeadlineAndDescription.svelte
  ui/Screen/Org/OrgHeader.svelte
  ui/Screen/SingleSigOrg.svelte
  ui/src/ethereum/walletConnectSigner.ts
  ui/src/modal.ts
  ui/src/org.ts
  ui/src/org/contract.ts
  ui/src/org/ensRegistrar.ts
  ui/src/org/ensResolver.ts
  ui/src/org/theGraphApi.ts
  ui/src/router/definition.ts
  ui/src/wallet.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Add missing licence header
  ui/src/memoizeLru.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Fix type errors
  ui/src/ethereum/walletConnect.ts
  ui/src/org/ensRegistrar.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Pacify prettier
  scripts/license-header.ts
  ui/Modal/EnsSetupFlow/steps/WaitingToRegister/index.ts
  ui/src/org/contract.ts
  ui/src/org/ensRegistrar.ts
  ui/src/org/ensResolver.ts
  ui/src/wallet.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Merge branch 'master' into rudolfs/finish-org-ens-integration
  Cargo.lock
  proxy/api/Cargo.toml
  proxy/api/src/context.rs
  proxy/api/src/process.rs
  ui/DesignSystem/Tooltip.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Use idiomatic CSS selectors
  ui/Modal/EnsSetupFlow/EnsSetupFlow.svelte
  ui/Modal/EnsSetupFlow/steps/WaitingToRegister/components/BlockTimer.svelte
  ui/Modal/EnsSetupFlow/steps/shared/ButtonRow.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Remove unused style
  ui/DesignSystem/Avatar.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Remove unused attribute
  ui/Modal/EnsSetupFlow/EnsSetupFlow.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Fix ts warnings
  ui/DesignSystem/TextInput.svelte
  ui/Modal/EnsSetupFlow/steps/EnterEnsName.svelte
  ui/Modal/EnsSetupFlow/steps/PopulateMetadata.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Cache ENS lookups
  ui/src/org.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Fixup
  ui/Screen/Org/route.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Rename variable
  ui/src/org/ensResolver.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Use idiomatic error handling
  ui/Modal/EnsSetupFlow/EnsSetupFlow.svelte
  ui/Modal/EnsSetupFlow/steps/ConfirmEnsName.svelte
  ui/Modal/EnsSetupFlow/steps/ConfirmRegistration.svelte
  ui/Modal/EnsSetupFlow/steps/LinkOrgToName.svelte
  ui/Modal/EnsSetupFlow/steps/PopulateMetadata.svelte
  ui/src/org/ensRegistrar.ts
  ui/src/org/ensResolver.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Show ENS metadata in multisig Orgs
  ui/App.svelte
  ui/Screen/Org.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Add ENS name registration for multisig orgs
  ui/Modal/EnsSetupFlow/EnsSetupFlow.svelte
  ui/Modal/EnsSetupFlow/steps/LinkOrgToName.svelte
  ui/Screen/Org.svelte
  ui/Screen/SingleSigOrg.svelte
  ui/src/org.ts
  ui/src/org/contract.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Inform user about pending Gnosis transaction
  ui/Modal/EnsSetupFlow/steps/LinkOrgToNameSuccess.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Pre-fill name registration form with already registered name
  ui/Modal/EnsSetupFlow/steps/EnterEnsName.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Clean up
  ui/Modal/EnsSetupFlow/steps/EnterEnsName.svelte
  ui/src/org/ensRegistrar.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Adjust ENS menu item messaging depending on registration status
  ui/DesignSystem/ThreeDotsMenu.svelte
  ui/DesignSystem/ThreeDotsMenu.types.ts
  ui/Modal/EnsSetupFlow/EnsSetupFlow.svelte
  ui/Screen/Org.svelte
  ui/Screen/SingleSigOrg.svelte
  ui/src/org.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Copy fixup
  ui/Modal/EnsSetupFlow/steps/PopulateMetadata.svelte
  ui/src/org.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Remove superfluous space from org header title
  ui/Screen/Org/OrgHeader.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Move ENS setup flow modal under Org
  ui/Modal/Org/EnsSetupFlow/EnsSetupFlow.svelte
  ui/Modal/Org/EnsSetupFlow/ens-flow.types.ts
  ui/Modal/Org/EnsSetupFlow/steps/ConfirmEnsName.svelte
  ui/Modal/Org/EnsSetupFlow/steps/ConfirmRegistration.svelte
  ui/Modal/Org/EnsSetupFlow/steps/EnsSetupFlowIntro.svelte
  ui/Modal/Org/EnsSetupFlow/steps/EnterEnsName.svelte
  ui/Modal/Org/EnsSetupFlow/steps/LinkOrgToName.svelte
  ui/Modal/Org/EnsSetupFlow/steps/LinkOrgToNameSuccess.svelte
  ui/Modal/Org/EnsSetupFlow/steps/PopulateMetadata.svelte
  ui/Modal/Org/EnsSetupFlow/steps/RegistrationSuccess.svelte
  ui/Modal/Org/EnsSetupFlow/steps/UpdateMetadataSuccess.svelte
  ui/Modal/Org/EnsSetupFlow/steps/WaitingToRegister/WaitingToRegister.svelte
  ui/Modal/Org/EnsSetupFlow/steps/WaitingToRegister/components/BlockTimer.svelte
  ui/Modal/Org/EnsSetupFlow/steps/WaitingToRegister/index.ts
  ui/Modal/Org/EnsSetupFlow/steps/shared/ButtonRow.svelte
  ui/Modal/Org/EnsSetupFlow/steps/shared/HeadlineAndDescription.svelte
  ui/src/org.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Don't show the linking success step if name is already linked
  ui/Modal/Org/EnsSetupFlow/steps/LinkOrgToNameSuccess.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Fix unsetting ENS records
  ui/Modal/Org/EnsSetupFlow/steps/PopulateMetadata.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Shuffle imports and exports
  ui/Modal/Org/EnsSetupFlow/EnsSetupFlow.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Fix unknown props Svelte warnings
  ui/Modal/Org/EnsSetupFlow/EnsSetupFlow.svelte
  ui/Modal/Org/EnsSetupFlow/steps/ConfirmRegistration.svelte
  ui/Modal/Org/EnsSetupFlow/steps/LinkOrgToNameSuccess.svelte
  ui/Modal/Org/EnsSetupFlow/steps/RegistrationSuccess.svelte
  ui/Modal/Org/EnsSetupFlow/steps/UpdateMetadataSuccess.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Shuffle around files
  ui/Modal/Org/ConfigureEns.svelte
  ui/Modal/Org/ConfigureEns/ConfigureEnsIntro.svelte
  ui/Modal/Org/ConfigureEns/ConfirmEnsName.svelte
  ui/Modal/Org/ConfigureEns/ConfirmRegistration.svelte
  ui/Modal/Org/ConfigureEns/EnterEnsName.svelte
  ui/Modal/Org/ConfigureEns/LinkOrgToName.svelte
  ui/Modal/Org/ConfigureEns/LinkOrgToNameSuccess.svelte
  ui/Modal/Org/ConfigureEns/PopulateMetadata.svelte
  ui/Modal/Org/ConfigureEns/RegistrationSuccess.svelte
  ui/Modal/Org/ConfigureEns/UpdateMetadataSuccess.svelte
  ui/Modal/Org/ConfigureEns/WaitingToRegister.svelte
  ui/Modal/Org/ConfigureEns/WaitingToRegister/BlockTimer.svelte
  ui/Modal/Org/ConfigureEns/ens-flow.types.ts
  ui/Modal/Org/ConfigureEns/shared/ButtonRow.svelte
  ui/Modal/Org/ConfigureEns/shared/HeadlineAndDescription.svelte
  ui/Modal/Org/EnsSetupFlow/steps/WaitingToRegister/index.ts
  ui/src/org.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Fixup
  ui/Modal/Org/ConfigureEns/ConfirmEnsName.svelte
  ui/Modal/Org/ConfigureEns/ConfirmRegistration.svelte
  ui/Modal/Org/ConfigureEns/EnterEnsName.svelte
  ui/Modal/Org/ConfigureEns/LinkOrgToName.svelte
  ui/Modal/Org/ConfigureEns/LinkOrgToNameSuccess.svelte
  ui/Modal/Org/ConfigureEns/PopulateMetadata.svelte
  ui/Modal/Org/ConfigureEns/RegistrationSuccess.svelte
  ui/Modal/Org/ConfigureEns/UpdateMetadataSuccess.svelte
  ui/Modal/Org/ConfigureEns/WaitingToRegister.svelte
  ui/Modal/Org/ConfigureEns/ens-flow.types.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Simplify step components
  ui/Modal/Org/ConfigureEns.svelte
  ui/Modal/Org/ConfigureEns/LinkOrgToName.svelte
  ui/Modal/Org/ConfigureEns/LinkOrgToNameSuccess.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Fix twitter and github ENS field editing
  ui/src/org/ensResolver.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Show Github and Twitter links
  ui/DesignSystem/Icon/Github.svelte
  ui/DesignSystem/Icon/Twitter.svelte
  ui/DesignSystem/Icon/index.ts
  ui/Screen/Org/OrgHeader.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Refactor ensResolver
  ui/src/org/ensResolver.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Switch around ENS metadata column with Org metadata column
  ui/Screen/Org/OrgHeader.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Extract domain into a constant and fix imports
  ui/Modal/Org/ConfigureEns.svelte
  ui/Modal/Org/ConfigureEns/ConfigureEnsIntro.svelte
  ui/Modal/Org/ConfigureEns/ConfirmEnsName.svelte
  ui/Modal/Org/ConfigureEns/ConfirmRegistration.svelte
  ui/Modal/Org/ConfigureEns/EnterEnsName.svelte
  ui/Modal/Org/ConfigureEns/LinkOrgToName.svelte
  ui/Modal/Org/ConfigureEns/LinkOrgToNameSuccess.svelte
  ui/Modal/Org/ConfigureEns/PopulateMetadata.svelte
  ui/Modal/Org/ConfigureEns/RegistrationSuccess.svelte
  ui/Modal/Org/ConfigureEns/UpdateMetadataSuccess.svelte
  ui/Screen/Org/OrgHeader.svelte
  ui/src/org/ensResolver.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Hardwrap all the things
  ui/Modal/Org/ConfigureEns/ConfigureEnsIntro.svelte
  ui/Modal/Org/ConfigureEns/ConfirmEnsName.svelte
  ui/Modal/Org/ConfigureEns/ConfirmRegistration.svelte
  ui/Modal/Org/ConfigureEns/EnterEnsName.svelte
  ui/Modal/Org/ConfigureEns/LinkOrgToName.svelte
  ui/Modal/Org/ConfigureEns/LinkOrgToNameSuccess.svelte
  ui/Modal/Org/ConfigureEns/PopulateMetadata.svelte
  ui/Modal/Org/ConfigureEns/RegistrationSuccess.svelte
  ui/Modal/Org/ConfigureEns/UpdateMetadataSuccess.svelte
  ui/Modal/Org/ConfigureEns/shared/Header.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Shuffle imports
  ui/Modal/Org/ConfigureEns.svelte
  ui/Modal/Org/ConfigureEns/ConfirmEnsName.svelte
  ui/Modal/Org/ConfigureEns/ConfirmRegistration.svelte
  ui/Modal/Org/ConfigureEns/LinkOrgToNameSuccess.svelte
  ui/Modal/Org/ConfigureEns/PopulateMetadata.svelte
  ui/Modal/Org/ConfigureEns/RegistrationSuccess.svelte
  ui/Modal/Org/ConfigureEns/UpdateMetadataSuccess.svelte
  ui/Modal/Org/ConfigureEns/WaitingToRegister/BlockTimer.svelte
  ui/Modal/Org/ConfigureEns/shared/ButtonRow.svelte
  ui/src/org/ensRegistrar.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Make exports consistent
  ui/src/org/ensRegistrar.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Improve wizard logic
  ui/Modal/Org/ConfigureEns.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Path conditions:
  prettier --write: any of: *.{js,css,json,html,svelte}
  eslint --fix --max-warnings=0: any of: *.{js,ts,svelte}
  ./scripts/license-header.ts check: any of: *.{js,ts,svelte}
