Repository radicle-dev/radicle-upstream: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

.lintstagedrc.yaml:

"*.{js,css,json,html,svelte}":
- prettier --write
"*.{js,ts,svelte}": 
- eslint --fix --max-warnings=0
- ./scripts/license-header.ts check

Add hover states to profile cards (#2433)
  ui/App/ProfileScreen.svelte
  ui/App/ProfileScreen/ProjectCardSquare.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

wip
  ui/App.svelte
  ui/App/OrgsScreen.svelte
  ui/App/Sidebar.svelte
  ui/DesignSystem/Avatar.svelte
  ui/DesignSystem/Badge.svelte
  ui/DesignSystem/Emoji.svelte
  ui/src/router/definition.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Get org type
  ui/App/OrgsScreen.svelte
  ui/src/org.ts
  ui/src/org/theGraphApi.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

wip
  ui/App/OrgsScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

wip
  ui/App/NetworkScreen.svelte
  ui/App/OrgsScreen.svelte
  ui/App/SettingsScreen.svelte
  ui/App/WalletScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

wip
  ui/App/OrgScreen.svelte
  ui/App/OrgScreen/OrgHeader.svelte
  ui/App/OrgScreen/OrgSidebar.svelte
  ui/App/OrgScreen/Projects.svelte
  ui/App/ScreenLayout/ActionBar.svelte
  ui/DesignSystem/List.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

wip
  ui/App/OrgScreen.svelte
  ui/App/OrgScreen/OrgSidebar.svelte
  ui/App/OrgScreen/Projects.svelte
  ui/App/SingleSigOrgScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

wip
  ui/App/OrgScreen/OrgSidebar.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: show commit not found screen instead of error
  ui/App/LoadingScreen.svelte
  ui/App/ProjectScreen/Source/Anchors.svelte
  ui/App/ProjectScreen/Source/Commit.svelte
  ui/App/ProjectScreen/route.ts
  ui/App/ScreenLayout/EmptyState.svelte
  ui/src/screen/project/source.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

improve docs for org seed node
  docs/infrastructure.md
Due: none

fixup! improve docs for org seed node
  docs/infrastructure.md
Due: none

docs: document org node setup
  docs/infrastructure.md
Due: none

Revert "fix: relative positioning for tooltips"
  ui/App/DesignSystemGuideModal.svelte
  ui/DesignSystem/Tooltip.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

wip
  ui/App/OrgScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

feat: use rad-identities to get person information
  Cargo.lock
  proxy/api/Cargo.toml
  proxy/api/src/context.rs
  proxy/api/src/error.rs
  proxy/api/src/http/error.rs
  proxy/api/src/http/identity.rs
  proxy/api/src/identity.rs
  proxy/api/src/process.rs
Due: none

wip
  ui/App/OrgScreen/OrgSidebar.svelte
  ui/App/OrgScreen/Projects.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

resolve linting errors
  ui/App/OrgScreen.svelte
  ui/App/OrgScreen/OrgSidebar.svelte
  ui/App/OrgsScreen.svelte
  ui/App/SingleSigOrgScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

resolv failing test
  ui/App/OnboardingModal/EnterName.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: get branches and tags from proxy client
  ui/src/proxy/source.ts
  ui/src/source.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: add `commitsGet` method to proxy client
  ui/App/OrgScreen/AnchorProjectModal.svelte
  ui/src/proxy/source.ts
  ui/src/source.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Fixup
  ui/App/OrgsScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: fetch single commits through proxy client
  ui/App/ProjectScreen/Source/Code.svelte
  ui/App/ProjectScreen/Source/SourceBrowser/Changeset.svelte
  ui/App/ProjectScreen/Source/SourceBrowser/FileDiff.svelte
  ui/src/proxy/commit.ts
  ui/src/proxy/source.ts
  ui/src/screen/project/source.ts
  ui/src/source.ts
  ui/src/source/diff.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: eliminate `Remote` component in a couple of places
  ui/App/ProjectScreen.svelte
  ui/App/ProjectScreen/ProjectHeader.svelte
  ui/App/SearchModal.svelte
  ui/App/WalletScreen/LinkAddressModal.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore: update NPM dependencies
  package.json
  yarn.lock
Due: prettier --write

refactor: add `localStateGet` to proxy and use it exclusively
  ui/src/__mocks__/api.ts
  ui/src/project.test.ts
  ui/src/project.ts
  ui/src/proxy/source.ts
  ui/src/source.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Simplify test
  ui/App/OrgScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Simplify showSidebar function
  ui/App/SingleSigOrgScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Move owner checks to router
  ui/App.svelte
  ui/App/OrgScreen.svelte
  ui/App/OrgScreen/Projects.svelte
  ui/App/OrgScreen/route.ts
  ui/App/SingleSigOrgScreen.svelte
  ui/src/wallet.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Remove org sorting
  ui/App/OrgsScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Show correct org metadata
  ui/App/OrgsScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Use correct icon for quorum
  ui/App/OrgScreen/OrgSidebar.svelte
  ui/App/OrgsScreen.svelte
  ui/DesignSystem/Icon/Proposals.svelte
  ui/DesignSystem/Icon/index.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Remove wrong comment
  ui/App/OrgsScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Sort org explorer orgs by timestamp
  ui/src/org/theGraphApi.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Move sorting to graphql query
  ui/src/org.ts
  ui/src/org/theGraphApi.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Remove error code
  ui/src/error.ts
  ui/src/ethereum/index.ts
  ui/src/org/contract.ts
  ui/src/org/ensRegistrar.ts
  ui/src/org/safe.ts
  ui/src/org/theGraphApi.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Move ethereum environment out of wallet
  ui/App/Sidebar/WalletStatusIndicator.svelte
  ui/App/WalletScreen/LinkAddressModal.svelte
  ui/src/attestation/status.ts
  ui/src/org.ts
  ui/src/org/ensRegistrar.ts
  ui/src/org/safe.ts
  ui/src/wallet.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Inject signer in order to decouple ensResolver module
  ui/App/OrgScreen/ConfigureEns/UpdateMetadata.svelte
  ui/src/org/ensResolver.ts
  ui/src/wallet.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check
