Repository radicle-dev/radicle-upstream: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

use function to open etherscan link
  ui/App/OrgScreen/Members.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: move reused components to a common folder
  ui/App/CreateProjectModal.svelte
  ui/App/OrgScreen/AnchorProjectModal.svelte
  ui/App/OrgScreen/ProjectAnchorPopover.svelte
  ui/App/OrgScreen/Projects.svelte
  ui/App/ProfileScreen.svelte
  ui/App/ProjectScreen.svelte
  ui/App/ProjectScreen/ManagePeersModal.svelte
  ui/App/ProjectScreen/Source.svelte
  ui/App/ProjectScreen/Source/AnchorCard.svelte
  ui/App/ProjectScreen/Source/Anchors.svelte
  ui/App/ProjectScreen/Source/CheckoutButton.svelte
  ui/App/ProjectScreen/Source/Code.svelte
  ui/App/ProjectScreen/Source/Commit.svelte
  ui/App/ProjectScreen/Source/Commits.svelte
  ui/App/ProjectScreen/Source/Patch.svelte
  ui/App/ProjectScreen/Source/PatchList.svelte
  ui/App/ProjectScreen/Source/SourceBrowser/FileSource.svelte
  ui/App/ProjectScreen/Source/SourceBrowser/FileView.svelte
  ui/App/ProjectScreen/Source/SourceBrowser/FileView/Root.svelte
  ui/App/ProjectScreen/Source/SourceBrowser/History.svelte
  ui/App/SharedComponents/CommitTeaser.svelte
  ui/App/SharedComponents/EmptyState.svelte
  ui/App/SharedComponents/OrgIdentity.svelte
  ui/App/SharedComponents/PeerSelector.svelte
  ui/App/SharedComponents/PeerSelector/Peer.svelte
  ui/App/SharedComponents/Remote.svelte
  ui/App/SharedComponents/RemoteHelperHint.svelte
  ui/App/SharedComponents/RevisionSelector.svelte
  ui/App/SharedComponents/RevisionSelector/Entry.svelte
  ui/App/UserProfileScreen.svelte
  ui/App/WalletScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore: remove unused proxy code
  proxy/README.md
  proxy/api/src/node.rs
  proxy/api/src/session/settings.rs
Due: none

chore: resolve svelte-check warning
  ui/DesignSystem/Loading.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix for attested member
  ui/App/OrgScreen/Members.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

capitalize
  ui/App/OrgScreen/Members.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Align tooltip to the right
  ui/App/OrgScreen/Members.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Prevent clicks on the Etherscan link to trigger going to profile
  ui/App/OrgScreen/Members.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Fixup
  ui/App/OrgScreen/Members.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: ignore RUSTSEC-2020-0071
  deny.toml
Due: none

use functions to access values
  ui/App/OrgsScreen.svelte
  ui/src/org/theGraphApi.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

typescript knows what is unreachable
  ui/App/OrgsScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

remove wrong datacy
  ui/App/OrgsScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

align container alignment
  ui/App/NetworkDiagnosticsScreen.svelte
  ui/App/NetworkScreen.svelte
  ui/App/OrgsScreen.svelte
  ui/App/ProfileScreen.svelte
  ui/App/SettingsScreen.svelte
  ui/App/UserProfileScreen.svelte
  ui/App/WalletScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

point emptystate to right folder
  ui/App/OrgsScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

reduce loading screen size
  ui/App/OrgsScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Rename function
  ui/src/org.ts
  ui/src/org/theGraphApi.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Move mutation to callsite
  ui/App/OrgsScreen.svelte
  ui/src/org/theGraphApi.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Fixup
  ui/App/ScreenLayout/ActionBar.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Design cleanup (#2482)
  ui/App/OrgScreen/Members.svelte
  ui/DesignSystem/Badge.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

feat: org explore screen (#2450)
  ui/App.svelte
  ui/App/DesignSystemGuideModal.svelte
  ui/App/NetworkDiagnosticsScreen.svelte
  ui/App/NetworkScreen.svelte
  ui/App/OrgScreen.svelte
  ui/App/OrgScreen/OrgHeader.svelte
  ui/App/OrgScreen/OrgSidebar.svelte
  ui/App/OrgScreen/Projects.svelte
  ui/App/OrgScreen/route.ts
  ui/App/OrgsScreen.svelte
  ui/App/ProfileScreen.svelte
  ui/App/ScreenLayout/ActionBar.svelte
  ui/App/SettingsScreen.svelte
  ui/App/Sidebar.svelte
  ui/App/SingleSigOrgScreen.svelte
  ui/App/UserProfileScreen.svelte
  ui/App/WalletScreen.svelte
  ui/DesignSystem/Badge.svelte
  ui/DesignSystem/Icon/Proposals.svelte
  ui/DesignSystem/Icon/index.ts
  ui/DesignSystem/List.svelte
  ui/src/org.ts
  ui/src/org/safe.ts
  ui/src/org/theGraphApi.ts
  ui/src/router/definition.ts
  ui/src/wallet.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: ignore cargo-deny advisories
  deny.toml
Due: none

fix: use upstream container registry
  .buildkite/pipeline.yaml
  .github/workflows/build.yaml
  docs/development.md
Due: none

refactor: make screen layout purely presentational
  ui/App/ScreenLayout.svelte
  ui/App/Sidebar.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: eliminate unneeded `style` prop on ScreenLayout
  ui/App/ProfileScreen.svelte
  ui/App/ScreenLayout.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

typo fix
  ui/App/ProfileScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: simplify ThreeDotsMenu component
  ui/DesignSystem/ThreeDotsMenu.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

feat: properly shutdown proxy when app is closed
  cypress/plugins/nodeManager/plugin.ts
  native/index.ts
  native/proxy-process-manager.test.ts
  native/proxy-process-manager.ts
  proxy/api/src/process.rs
  proxy/api/src/service.rs
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: reusable proxy client package
  cypress/support/commands.ts
  cypress/support/nodeManager.ts
  jest.config.js
  proxy-client/commit.ts
  proxy-client/control.ts
  proxy-client/fetcher.ts
  proxy-client/identity.ts
  proxy-client/index.ts
  proxy-client/project.ts
  proxy-client/source.ts
  scripts/license-header.ts
  tsconfig.json
  ui/App/ProjectScreen/Source/SourceBrowser/Changeset.svelte
  ui/App/UserProfileScreen.svelte
  ui/App/UserProfileScreen/UserProfileHeader.svelte
  ui/src/identity.ts
  ui/src/org.ts
  ui/src/project.ts
  ui/src/project/patch.ts
  ui/src/proxy.ts
  ui/src/search.ts
  ui/src/source.ts
  ui/src/source/diff.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

feat: add user hovercard
  cypress/integration/networking.spec.ts
  ui/App/CreateOrgModal.svelte
  ui/App/OrgScreen/AnchorProjectModal.svelte
  ui/App/OrgScreen/Members.svelte
  ui/App/OrgScreen/ProjectAnchorPopover.svelte
  ui/App/OrgScreen/UnresolvedAnchorList.svelte
  ui/App/OrgsScreen.svelte
  ui/App/ProfileScreen/ProjectCard.svelte
  ui/App/ProfileScreen/ProjectCardSquare.svelte
  ui/App/ProjectScreen.svelte
  ui/App/ProjectScreen/ManagePeers/Peer.svelte
  ui/App/ProjectScreen/ManagePeersModal.svelte
  ui/App/ProjectScreen/Source/PatchCard.svelte
  ui/App/ProjectScreen/Source/PatchList.svelte
  ui/App/ProjectScreen/Source/PatchLoaded.svelte
  ui/App/SharedComponents/PeerSelector.svelte
  ui/App/SharedComponents/PeerSelector/Peer.svelte
  ui/App/SharedComponents/ProjectAnchorHovercard.svelte
  ui/App/SharedComponents/RevisionSelector/Entry.svelte
  ui/App/SharedComponents/UserIdentity.svelte
  ui/App/WalletScreen/LinkAddressModal.svelte
  ui/DesignSystem/Badge.svelte
  ui/DesignSystem/Hovercard.svelte
  ui/DesignSystem/index.ts
  ui/src/userProfile.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: load userProfile data in the router
  ui/App.svelte
  ui/App/SharedComponents/UserIdentity.svelte
  ui/App/UserProfileScreen.svelte
  ui/App/UserProfileScreen/UserProfileHeader.svelte
  ui/App/UserProfileScreen/route.ts
  ui/src/router/definition.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

typo fix (#2499)
  ui/App/ProfileScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore: clean up routes
  cypress/integration/routing.spec.ts
  ui/App.svelte
  ui/App/CreateProjectModal.svelte
  ui/App/OrgScreen/UnresolvedAnchorList.svelte
  ui/App/SearchModal.svelte
  ui/App/SharedComponents/UserIdentity.svelte
  ui/App/Sidebar.svelte
  ui/src/router/definition.ts
  ui/src/router/index.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: eliminate unnecessary `Blob` component
  ui/App/ProjectScreen/Source/SourceBrowser/FileView.svelte
  ui/App/ProjectScreen/Source/SourceBrowser/FileView/Blob.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: add `treeGet` to proxy client
  proxy-client/source.ts
  ui/App/ProjectScreen/Source/Code.svelte
  ui/App/ProjectScreen/Source/SourceBrowser/FileSource.svelte
  ui/App/ProjectScreen/Source/SourceBrowser/FileView/Root.svelte
  ui/src/screen/project/source.ts
  ui/src/source.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

feat: enable CI builds for macOS on Github Actions
  .github/workflows/build.yaml
  ci/run.sh
Due: none

Updated text in 'Claim Radicle Identity' transaction #2386
  cypress/integration/attestation.spec.ts
  ui/src/transaction.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Path conditions:
  prettier --write: any of: *.{js,css,json,html,svelte}
  eslint --fix --max-warnings=0: any of: *.{js,ts,svelte}
  ./scripts/license-header.ts check: any of: *.{js,ts,svelte}
