Repository radicle-dev/radicle-upstream: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

.lintstagedrc.yaml:

"*.{js,css,json,html,svelte}":
- prettier --write
"*.{js,ts,svelte}": 
- eslint --fix --max-warnings=0
- ./scripts/license-header.ts check

fix typescript error
  ui/Modal/Transaction.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

feat(ui): network page (#2066)
  cypress/integration/networking.spec.ts
  cypress/integration/settings.spec.ts
  ui/App.svelte
  ui/DesignSystem/Sidebar/ConnectionStatusIndicator.svelte
  ui/Screen/Network.svelte
  ui/Screen/Settings.svelte
  ui/src/network.ts
  ui/src/router/definition.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

disable button
  ui/Screen/Org.svelte
  ui/Screen/Org/ProjectsMenu.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

make errors persistent (#2081)
  ui/src/error.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

remove console log 🤦
  ui/Screen/Org.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

move disabled logic
  ui/Screen/Org.svelte
  ui/Screen/Org/ProjectsMenu.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Fixup
  ui/Screen/Org.svelte
  ui/Screen/Org/ProjectsMenu.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

improvement: disable `anchor` button on pending anchor (#2085)
  ui/Screen/Org.svelte
  ui/Screen/Org/ProjectsMenu.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

add pending anchors section
  ui/Screen/Org/Projects.svelte
  ui/Screen/Org/UnresolvedAnchorList.svelte
  ui/Screen/Profile/Following.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

copy fixes
  ui/Screen/Org/Projects.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Fix anchor selection logic
  ui/Screen/Org/Projects.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Refactor anchor selection
  ui/Screen/Org.svelte
  ui/Screen/Org/Projects.svelte
  ui/src/org.ts
  ui/src/router/definition.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

add disappearing header logic
  ui/Screen/Org/Projects.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Update ui/DesignSystem/Modal.svelte
  ui/DesignSystem/Modal.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

type exports
  ui/DesignSystem/Modal.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix popover z-index
  ui/DesignSystem/ProjectAnchorPopover.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

improvement: differentiate pending anchors in orgs (#2088)
  ui/DesignSystem/ProjectAnchorPopover.svelte
  ui/Screen/Org.svelte
  ui/Screen/Org/Projects.svelte
  ui/Screen/Org/UnresolvedAnchorList.svelte
  ui/Screen/Profile/Following.svelte
  ui/src/org.ts
  ui/src/router/definition.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: align all modals (#2082)
  ui/DesignSystem/EmptyState.svelte
  ui/DesignSystem/Modal.svelte
  ui/Modal/ManagePeers.svelte
  ui/Modal/NewProject.svelte
  ui/Modal/Org/AnchorProject.svelte
  ui/Modal/Org/Create.svelte
  ui/Modal/Shortcuts.svelte
  ui/Modal/Transaction.svelte
  ui/Modal/Wallet/QRCode.svelte
  ui/Screen/Onboarding/Success.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: adjust code to the updated Org Graph index
  ui/src/org/theGraphApi.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

update org avatar border radius to be more round
  ui/DesignSystem/Avatar.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

remove undefined desc bug
  ui/DesignSystem/Modal.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

remove undefined desc bug (#2102)
  ui/DesignSystem/Modal.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

style(ui): update org avatar border radius to be more round (#2101)
  ui/DesignSystem/Avatar.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

improvement: add org button revamp with Icon.Plus
  ui/DesignSystem/Sidebar/AddOrgButton.svelte
  ui/DesignSystem/Sidebar/OrgList.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

improvement: Removing AddOrg and replacing with Icon.Plus inside OrgList
  ui/DesignSystem/Sidebar/AddOrgButton.svelte
  ui/DesignSystem/Sidebar/OrgList.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

improvement: add org button revamp with <Icon.Plus /> (#2094)
  ui/DesignSystem/Sidebar/AddOrgButton.svelte
  ui/DesignSystem/Sidebar/OrgList.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

improvement: Adding truncate prop to <PeerId /> inside <Settings /> to mimic the <ProfileHeader />
  ui/Screen/Settings.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Settings: set expandable prop to false under PeerId
  ui/Screen/Settings.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: truncate device ID in settings screen
  ui/Screen/Settings.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: wallet disconnect handling
  ui/src/ethereum/walletConnectSigner.ts
  ui/src/wallet.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

feature: single sig orgs
  ui/App.svelte
  ui/DesignSystem/ProjectAnchorPopover.svelte
  ui/DesignSystem/RadioOption.svelte
  ui/DesignSystem/Sidebar/OrgList.svelte
  ui/Modal/Org/AnchorProject.svelte
  ui/Modal/Org/Create.svelte
  ui/Modal/Transaction.svelte
  ui/Screen/Org.svelte
  ui/Screen/Org/OrgHeader.svelte
  ui/Screen/Org/Projects.svelte
  ui/Screen/Org/ProjectsMenu.svelte
  ui/Screen/Settings.svelte
  ui/Screen/SingleSigOrg.svelte
  ui/src/ethereum/index.ts
  ui/src/org.ts
  ui/src/org/contract.ts
  ui/src/org/safe.ts
  ui/src/org/theGraphApi.ts
  ui/src/project.ts
  ui/src/router/definition.ts
  ui/src/transaction.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: enable option transition only when not active
  ui/DesignSystem/RadioOption.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore: update cargo dependencies to resolve advisory
  Cargo.lock
Due: none

refactor: isolate WalletConnect instance creation
  ui/src/wallet.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: reapply commit to truncate device ID in settings screen
  ui/Screen/Settings.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: explain that app needs to be restarted after reset
  DEVELOPMENT.md
Due: none

proxy(chore): update librad to include Person changes
  Cargo.lock
  Cargo.toml
  proxy/api/Cargo.toml
  proxy/api/src/config.rs
  proxy/api/src/context.rs
  proxy/api/src/http.rs
  proxy/api/src/http/identity.rs
  proxy/api/src/identity.rs
  proxy/api/src/process.rs
Due: none

fix: race condition when watching claim updates
  ui/src/attestation/contract.ts
  ui/src/attestation/status.ts
  ui/src/mutexExecutor.test.ts
  ui/src/mutexExecutor.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore: update rust toolchain to 2021-06-17
  .buildkite/pipeline.yaml
  .github/workflows/build.yaml
  ci/Dockerfile
  proxy/api/src/browser.rs
  proxy/api/src/control.rs
  proxy/api/src/http/control.rs
  proxy/api/src/http/error.rs
  proxy/api/src/http/project.rs
  proxy/api/src/http/session.rs
  proxy/api/src/http/source.rs
  proxy/api/src/lib.rs
  proxy/api/src/patch.rs
  proxy/api/src/process.rs
  proxy/api/src/project.rs
  proxy/api/src/session.rs
  rust-toolchain
Due: none

fix: improved error message from server
  proxy/api/src/http/error.rs
Due: none
