Repository radicle-dev/radicle-upstream: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

.lintstagedrc.yaml:

"*.{js,css,json,html,svelte}":
- prettier --write
"*.{js,ts,svelte}": 
- eslint --fix --max-warnings=0
- ./scripts/license-header.ts check

refactor: decouple account balance store
  ui/DesignSystem/Sidebar/OrgList.svelte
  ui/DesignSystem/Wallet/Panel.svelte
  ui/Modal/Funding/LinkAddress.svelte
  ui/Modal/Funding/Onboarding/TopUp.svelte
  ui/Modal/Funding/Pool/TopUp.svelte
  ui/Screen/Wallet.svelte
  ui/Screen/Wallet/LinkAddress.svelte
  ui/src/attestation/status.ts
  ui/src/funding/daiToken.ts
  ui/src/funding/pool.ts
  ui/src/org.ts
  ui/src/wallet.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: correct radicle-contracts types
  package.json
  ui/src/attestation/contract.ts
  ui/src/funding/daiToken.ts
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

test: add instructions for manually testing WalletConnect
  docs/wallet-connect-testing.md
Due: none

fix: on invalid passphrase clear and refocus input
  cypress/integration/lock.spec.ts
  ui/DesignSystem/PasswordInput.svelte
  ui/Screen/Lock.svelte
  ui/Screen/Onboarding/EnterPassphrase.svelte
  ui/src/error.ts
  ui/src/proxy/fetcher.ts
  ui/src/session.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

feat: remove orgs feature flagging
  ui/DesignSystem/Sidebar.svelte
  ui/Screen/Onboarding/Success.svelte
  ui/Screen/Settings.svelte
  ui/src/settings.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore(release): 0.2.7
  CHANGELOG.md
  package.json
Due: prettier --write

ci: don’t build on preview agent anymore
  .buildkite/pipeline.yaml
Due: none

fix: ensure that a valid ethereum environment is selected
  ui/src/ethereum/index.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore(release): 0.2.8
  CHANGELOG.md
  package.json
Due: prettier --write

Issue#2068: Setting PeerId on Profile not expandable
  ui/Screen/Profile/ProfileHeader.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

typo fix
  ui/Modal/Org/Create.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: remove console.log debug statement
  ui/DesignSystem/PasswordInput.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: wallet connect facade
  package.json
  ui/src/ethereum/walletConnect.ts
  ui/src/ethereum/walletConnectSigner.ts
  ui/src/wallet.ts
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix(tests): forward `stdout` of test node to console
  cypress/plugins/nodeManager/plugin.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: consolidate org route loading
  ui/App.svelte
  ui/DesignSystem/Sidebar/OrgList.svelte
  ui/Screen/Org.svelte
  ui/Screen/Org/route.ts
  ui/Screen/SingleSigOrg.svelte
  ui/src/org.ts
  ui/src/org/contract.ts
  ui/src/router/definition.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: consolidate cypress test config
  ui/src/config.ts
  ui/src/ipc.ts
  ui/src/updateChecker.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: use tracing for logs
  Cargo.lock
  native/proxy-process-manager.ts
  package.json
  proxy/api/Cargo.toml
  proxy/api/src/bin/radicle-proxy.rs
  proxy/api/src/context.rs
  proxy/api/src/control.rs
  proxy/api/src/git_helper.rs
  proxy/api/src/http.rs
  proxy/api/src/http/control.rs
  proxy/api/src/http/error.rs
  proxy/api/src/http/project.rs
  proxy/api/src/identity.rs
  proxy/api/src/process.rs
  proxy/api/src/project.rs
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fixup! fix: use tracing for logs
  proxy/api/src/git_helper.rs
Due: none

fix: reduce infura polled request amount
  ui/App.svelte
  ui/src/transaction.ts
  ui/src/wallet.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: use tokio broadcast instead of hand-rolled structure
  proxy/api/src/http.rs
  proxy/api/src/http/notification.rs
  proxy/api/src/notification.rs
  proxy/api/src/process.rs
Due: none

fix: cache org data
  package.json
  ui/src/memoizeLru.ts
  ui/src/org.ts
  ui/src/org/contract.ts
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: switch to websocket based Infura API
  ui/src/wallet.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: event based wallet connection for immediate response
  ui/src/ethereum/walletConnect.ts
  ui/src/ethereum/walletConnectSigner.ts
  ui/src/wallet.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

feature-ui: #2142 show (eye) icon next to passphrase fields
  ui/DesignSystem/PasswordInput.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Add Passhphrase toggle button on Lock screen
  ui/Screen/Lock.svelte
  ui/Screen/Onboarding/EnterPassphrase.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

feature-ui: 2142 design/layout change for show/hide password button
  ui/DesignSystem/PasswordInput.svelte
  ui/Screen/Onboarding/EnterPassphrase.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

feature-ui: inserted keybrd event listeners on Passphrase inputs for better UX
  ui/DesignSystem/PasswordInput.svelte
  ui/Screen/Lock.svelte
  ui/Screen/Onboarding/EnterPassphrase.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

ui: removed component internals exposure and replaced with props
  ui/DesignSystem/PasswordInput.svelte
  ui/Screen/Lock.svelte
  ui/Screen/Onboarding/EnterPassphrase.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

feat(ui): show (eye) icon next to passphrase fields
  ui/DesignSystem/PasswordInput.svelte
  ui/Screen/Lock.svelte
  ui/Screen/Onboarding/EnterPassphrase.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: work around svelte2tsx bug for type checking
  ui/Screen/Onboarding/EnterPassphrase.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore(release): 0.2.9
  CHANGELOG.md
  package.json
Due: prettier --write

fix: include more data in claim errors
  ui/src/attestation/contract.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore: update yarn dependencies
  .buildkite/pipeline.yaml
  .github/workflows/build.yaml
  ci/Dockerfile
  package.json
  ui/src/org/safe.ts
  ui/src/proxy/source.ts
  webpack.config.ts
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

ci: bump github actions cache
  .github/workflows/build.yaml
Due: none

#2161: fixed top and bottom tooltip alignment
  ui/DesignSystem/Tooltip.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

docs: describe how to run app against real data
  DEVELOPMENT.md
  README.md
Due: none

fix: retry graph requests on 503
  ui/src/org.ts
  ui/src/org/theGraphApi.ts
Due: eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix(ui): fix top and bottom tooltip alignment
  ui/DesignSystem/Tooltip.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check
